RewriteEngine On
  
RewriteBase /kppw_google/
  
RewriteCond $1 ^(index.php|robots.txt|favicon.ico|images|js|css)
  
# No rewriting
RewriteRule ^(.*)$ - [PT,L]

RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.swf|\.gif|\.png|\.jpg|\.jpeg|\.xml|test\.*)

  
# Rewrite all other URLs to index.php/URL

RewriteRule ^(.*)$ index.php/$1 [PT,L]
