@import url("mobile.min.css") only screen and (min-width: 240px) and (max-width: 640px);

@import url("720.min.css") only screen and (min-width: 640px) and (max-width: 980px);

@import url("960.min.css") only screen and (min-width: 980px) and (max-width:1280px);

@import url("1200.min.css") only screen and (min-width:1280px) and (max-width:1600px);

@import url("1560.min.css") only screen and (min-width:1600px) and (max-width:1920px);

@import url("fluid.min.css") only screen and (min-width:1920px);

