@CHARSET "UTF-8";
/* -------------------------------------------------------------- 
-----------------------------------------------------------------
 	注释 DEFINITIONS	: lf
	作者 AUTHOR 		: lf
 	版本 VERSION		: 2012-02-24
 	
 	内容 CONTENTS:
 	1. 任务首页
 		1.1 banner部分
 		1.2  选项卡
 		1.3  热门分类区
 		1.4  热门推荐区
 	2. 任务列表
 	3. 任务地图（地图搜索下拉按钮）
 	4. 任务详细
 		4.1 任务描述
 		4.2 任务稿件
 		4.3 任务作品
 		4.4 任务工具 
 	5. 页面元素
 		5.1  通用
 		5.2 icon图标
 		5.3   链接	
 		5.4  头部标题
 		5.5  其他标记
 		5.6 right列表
 		5.7  广告位 
 		5.8 evaluate辅助评价
 		5.9   用户隐藏层	
-----------------------------------------------------------------
-------------------------------------------------------------- */


/* 1. 任务首页
 --------------------------------------*/

/* 1.1 banner部分 */
.container{ background:#DED8D8; margin-top:0;}
		.banner_info{_bottom:-1px;}	
		
/* 1.2 选项卡 */
.tasktab{background:#D2CACA;}

/* 1.3 热门分类区 */
	.item h2{color:#000;}
		.box_detail ul.category_list li .item a:hover{color:#e77f1e;}
			
/* 1.4热门推荐区 */
.red_style .hot_recommend .box_header{border-top:2px solid #D42121;}
.trade p{color:#000;}
	.red_style p{ margin-bottom:0}

/* 2. 任务列表
 --------------------------------------*/
.box.red_style .list .operate{position:absolute;}


/* 3. 任务地图-----地图搜索下拉按钮------
 --------------------------------------*/
.red_style .condition dd .jqTransformSelectWrapper a.selected, .red_style .condition dd .jqTransformSelectWrapper a.selected:hover{ border-radius:0px;}
.red_style .jqTransformSelectWrapper ul a:hover{ background:#ED8888;}	
.red_style .footer .jqTransformSelectWrapper ul a:hover.selected{background:#951a1a;}


/* 4. 任务详细
 --------------------------------------*/

/* 4.1 任务描述 */
	ul.fans li{border-left:1px solid #2F549F; margin-top:10px; margin-right:10px; line-height:20px; border-width:2px; background:#FDFDFC; float:left; width:45%;}
		ul.fans li strong{padding:0 10px;}
	
/* 4.2 任务稿件 */
.work_9_big{ background:url(../img/task/task_9_big.gif) no-repeat}
.work_10_big{ background:url(../img/task/task_10_big.gif) no-repeat}
.sum_title .gj_bg{ background: #951a1a;  width:180px;}
.arr.arrow_t{border-color:transparent; border-bottom-color:#F3F3F3;border-width:10px;  bottom:-12px; position:absolute; z-index:2; left:-12px;}


/* 4.4 任务工具 */
.red_style .tool_text p{margin:0 5px; margin-bottom:0;}



/* 5. 页面元素
 --------------------------------------*/



.show_panel .box_nav a{padding:5px 6px;}	
	
		
@media only screen and (min-width: 1280px) and (max-width: 1600px){
	.banner_bg img{ width:100%}
}	
		
		
		
