/* 状态-----------------------------------------------------------------*/
.box {
  -o-transition: all 0.2s ease-out 0.1s;
  -webkit-transition: all 0.2s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}
.box_header,
.box_detail,
.box_footer {
  clear: both;
}
/* 状态-----------------------------------------------------------------*/
/* theme----------------------------------------------------------------*/
/* apple_style 
	===============================*/
.apple_style {
  display: block;
  position: relative;
  border-radius: 5px;
  color: #333;
  line-height: 1.5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FDFDFD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -ms-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: linear-gradient(top, #fdfdfd, #f4f4f4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#F4F4F4');
  /* 之前和之后伪类 
		----------------------------------------*/

  /* 鼠标悬停 
		-----------------------------------------*/

  /*--------------------------------------------------------------------------------------*/

  /* html元素
	----------------------------------------------------------*/

  /* 连接
		-----------------------------------------*/

  /* 选卡 
		--------------------------------------*/

  /*------------------------------------------------------------------------------------*/

  /* 头部
		-----------------------------------------*/

  /* 导航
		----------------------------------------*/

  /* 内容
		----------------------------------------*/

  /* 脚部
		----------------------------------------*/

  /* 状态
		---------------------------------------*/

  /* 子主题(继承)
		---------------------------------------------------------*/
  /* 黑色
		--------------------------------*/
  /* 黑色 end
		--------------------------------*/
}
.apple_style:before,
.apple_style:after {
  display: block;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 50%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}
.apple_style:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.apple_style .inner {
  border: 1px solid #fff;
  border-radius: 5px;
}
.apple_style:hover,
.apple_style.hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
}
.apple_style a {
  color: #08c;
}
.apple_style a:link,
.apple_style a:visited,
.apple_style a:active,
.apple_style a a:focus {
  text-decoration: none;
}
.apple_style a:hover {
  text-decoration: underline;
}
.apple_style .image-wrap {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.apple_style .tab {
  text-align: center;
  padding-top: 20px;
}
.apple_style .tab a {
  display: inline-block;
  padding: 5px 20px;
  margin-left: -5px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff inset;
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f4f4f4));
  background: -moz-linear-gradient(100% 100% 90deg, #fefefe, #f4f4f4);
}
.apple_style .tab a:first-child {
  border: 1px solid #cfcfcf;
  border-radius: 6px 0 0 6px;
}
.apple_style .tab a:last-child {
  border: 1px solid #cfcfcf;
  border-radius: 0 6px 6px 0;
}
.apple_style .tab a:hover {
  color: #0088cc;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff;
  background-color: #fcfcfc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fafafa));
  background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #fafafa);
}
.apple_style .tab a:active,
.apple_style .tab a.selected {
  color: #fff;
  cursor: default;
  text-decoration: none;
  border: 1px solid transparent;
  *border: 1px solid #cfcfcf;
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.52) inset;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.52) inset;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.52) inset;
  background-color: #666;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#7b7b7b), to(#545454));
  background: -moz-linear-gradient(100% 100% 90deg, #7b7b7b, #545454);
}
.apple_style .tab a em {
  font-style: normal;
  font-size: 12px;
  display: block;
  opacity: .5;
  filter: alpha(opacity=50);
}
.apple_style .tab_detail {
  padding: 2em 10px;
  margin-top: -2em;
  background: #fff;
  border: 1px solid #ebebeb;
}
.apple_style table td {
  padding: 30px 32px 30px 32px;
  font-size: 1em;
  vertical-align: top;
  border-left: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
}
.apple_style table tr.odd {
  background: #fff;
}
.apple_style table tr:nth-child(1) td:nth-of-type(1) {
  background: #f4f4f4;
}
.apple_style table tr:nth-of-type(1) {
  background: #eee;
  border-left: none;
}
.apple_style table tr:nth-last-child(1) td:nth-of-type(1) {
  background: #f4f4f4;
}
.apple_style table tr.bottom th,
.apple_style table tr.bottom td {
  border-bottom: none;
}
.apple_style table th {
  padding: 30px 25px;
  vertical-align: top;
}
.apple_style table th h2 {
  font-size: 1.5em;
  font-weight: normal;
}
.apple_style .box_header {
  border-bottom: 1px solid #e4e4e4;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.apple_style .box_header .title {
  font: bold 18px/25px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin-bottom: 0;
}
.apple_style .box_nav {
  position: relative;
  z-index: 1;
}
.apple_style .box_nav ul li {
  display: inline;
  float: left;
}
.apple_style .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.apple_style .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.apple_style .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.apple_style .box_nav ul li a:hover {
  text-decoration: none;
}
.apple_style .box_detail {
  padding: 10px;
}
.apple_style .box_footer {
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  text-shadow: 0 1px 0 #FFFFFF;
  background: #fff;
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #f2f2f2 66%, #f2f2f2 90%, #e6e6e6 93%, #bebebe 96%, #969696 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), color-stop(66%, #f2f2f2), color-stop(90%, #f2f2f2), color-stop(93%, #e6e6e6), color-stop(96%, #d2d2d2), to(#8c8c8c));
  border-bottom: 1px solid #ebebeb;
  margin: -2px;
}
.apple_style.waring {
  border-color: #FC0;
  box-shadow: 0 0 5px #FF3;
  background: #FFFFB5;
}
.apple_style.waring:before,
.apple_style.waring:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 15%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px #FC0;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}
.apple_style.waring:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.apple_style.waring .title {
  background: #FF3;
  color: #333;
  border-color: #FC0;
}
.apple_style.black {
  border-color: #5E5E5E;
}
.apple_style.black .inner {
  border: none;
}
.apple_style.black .box_header {
  background-color: #7D7D7D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#5e5e5e));
  background-image: -webkit-linear-gradient(top, #7d7d7d, #5e5e5e);
  background-image: -moz-linear-gradient(top, #7d7d7d, #5e5e5e);
  background-image: -ms-linear-gradient(top, #7d7d7d, #5e5e5e);
  background-image: -o-linear-gradient(top, #7d7d7d, #5e5e5e);
  background-image: linear-gradient(top, #7d7d7d, #5e5e5e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7D7D7D', EndColorStr='#5E5E5E');
}
.apple_style.black .box_header .title {
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}
.apple_style.black .box_footer {
  margin: 0;
}
/* aero_style 
========================================*/
.aero_style {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  /* 导航
		----------------------------------------*/

}
.aero_style .inner {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 0 6px 6px;
}
.aero_style:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.aero_style:hover .inner {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.aero_style .box_header .title {
  display: inline-block;
  color: #000;
  text-shadow: 0 0 5px #ffffff;
  font-size: 14px ;
  margin: -5px;
  -moz-border-image: url(../images/aero/title_bg.png) 10 15 stretch;
  -webkit-border-image: url(../images/aero/title_bg.png) 10 15 stretch;
  -o-border-image: url(../images/aero/title_bg.png) 10 15 stretch;
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent;
}
.aero_style .box_nav {
  position: relative;
  z-index: 1;
}
.aero_style .box_nav ul li {
  display: inline;
  float: left;
}
.aero_style .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.aero_style .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.aero_style .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.aero_style .box_nav ul li a:hover {
  text-decoration: none;
}
.aero_style .box_footer {
  color: #5A6779;
  background-color: #F1F5FB;
  margin-top: -1px;
  box-shadow: inset 0 3px 3px #CCD9EA,0 0 2px #fff;
  padding: 10px;
  line-height: 18px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.aero_style .box_footer strong {
  color: #1E395B;
}
.aero_style .box_detail {
  background-color: #fcfcfc;
  box-shadow: 0 0 2px #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}
/* star_craft 
========================================*/
.star_craft2 {
  color: #0C73AF;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
  background: #00629e url("../images/star_craft2/bg-video-frame-l.gif") left top no-repeat;
  padding: 4px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  /* 连接
		-----------------------------------------*/

  /* 导航
		----------------------------------------*/

}
.star_craft2:before {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-t.gif") right top no-repeat;
  top: 0;
  left: 30px;
  width: 225px;
  height: 4px;
}
.star_craft2:after {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-l.gif") right top no-repeat;
  top: 30px;
  left: 0;
  width: 4px;
  height: 95px;
}
.star_craft2:hover {
  background-color: #0084B3;
  box-shadow: 0 0 10px #000000;
}
.star_craft2:hover .box_header .title {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}
.star_craft2 .inner {
  background: #000D20;
}
.star_craft2 a {
  color: #00D683;
}
.star_craft2 a:link,
.star_craft2 a:visited,
.star_craft2 a:active,
.star_craft2 a a:focus {
  text-decoration: none;
}
.star_craft2 a:hover {
  color: #fff;
  text-decoration: underline;
}
.star_craft2 .box_header {
  background: #06336a url("../images/star_craft2/frame-screenshot-p-glass.png") left -3px repeat-x;
  border-bottom: 1px solid #075BBB;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.star_craft2 .box_header .title {
  color: #fff;
  margin-bottom: 0;
  display: black;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}
.star_craft2 .box_header .title:before {
  width: 15px;
  height: 45px;
  content: "";
  background: url("../images/star_craft2/title_l.gif") right top no-repeat;
  position: absolute;
  z-index: 1;
  bottom: -45px;
  left: 0;
}
.star_craft2 .box_header:before {
  width: 30px;
  height: 30px;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-tl.gif") right top no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.star_craft2 .box_header:after {
  width: 100px;
  height: 10px;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-tr.gif") right top no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.star_craft2 .box_nav {
  position: relative;
  z-index: 1;
}
.star_craft2 .box_nav ul li {
  display: inline;
  float: left;
}
.star_craft2 .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.star_craft2 .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.star_craft2 .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.star_craft2 .box_nav ul li a:hover {
  text-decoration: none;
}
.star_craft2 .box_detail {
  background: #000d20 url("../images/star_craft2/frame-screenshot-p-glass.png") left -38px repeat-x;
  padding: 10px 20px;
  color: #BFBFBF;
  font-size: 14px;
  box-shadow: inset 0 3px 5px #000;
}
.star_craft2 .box_detail .detail:before {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-bl.gif") right top no-repeat;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 60px;
}
.star_craft2 .box_detail .detail:after {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-br.gif") right top no-repeat;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
}
.star_craft2 .box_footer {
  background: #000D20;
  padding: 10px 20px;
}
.star_craft2 .box_footer:before {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-r.gif") right top no-repeat;
  bottom: 12px;
  right: 0;
  width: 8px;
  height: 94px;
}
.star_craft2 .box_footer:after {
  position: absolute;
  z-index: 1;
  content: "";
  background: url("../images/star_craft2/bg-video-frame-b.gif") right top no-repeat;
  bottom: 0;
  right: 12px;
  width: 94px;
  height: 8px;
}
/* normal
---------------------------------------------------------------------------------------------- */
.normal {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  /* 导航
		----------------------------------------*/

  /* html 元素
		------------------------------------*/

  /* 继承主题
		-----------------------------*/

}
.normal .box_header {
  margin-bottom: 10px;
}
.normal .box_header .title {
  color: #333;
  font-size: 14px;
  margin-bottom: 0;
}
.normal .box_nav {
  position: relative;
  z-index: 1;
}
.normal .box_nav ul li {
  display: inline;
  float: left;
}
.normal .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.normal .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.normal .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.normal .box_nav ul li a:hover {
  text-decoration: none;
}
.normal .inner {
  border: 1px solid #fff;
  padding: 5px;
}
.normal:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.normal .image-wrap {
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.normal.gray {
  background-color: #f2f2f2;
}
.normal.gray .inner {
  padding-left: 10px;
  padding-right: 10px;
}
/* normal2
------------------------------------------------------------------------------------------ */
.normal2 {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}
.normal2 .title {
  color: #333;
  font-size: 14px;
}
.normal2 .inner {
  border: 1px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}
/* home
------------------------------------------------------------------------------------------------- */
.home {
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}
.home .title {
  color: #333;
  font-size: 14px;
}
.home .inner {
  border: 1px solid #fff;
}
/* model
-------------------------------------------------------------------------------------------------- */
.model {
  border: 1px solid #ccc;
  background: #fafafa;
  /* 导航
		----------------------------------------*/

  /* html 元素
		------------------------------------*/

  /* 继承主题
		------------------------------------------*/

  /* model蓝色 
		----------------------------------*/

  /* model土黄 
		----------------------------------*/

  /* model绿色
		----------------------------------*/

  /* model紫色
		----------------------------------*/

  /* model玫红
		----------------------------------*/

  /* model青色
		----------------------------------*/

  /* 继承主题 end---------------------*/

}
.model:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.model .box_header {
  padding: 10px 0;
  border: 1px solid #fff;
  background: #f5f5f5;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.model .box_header .box_title .title {
  color: #2f549f;
  font: 24px/40px "微软雅黑", Arial, Helvetica, sans-serif;
  padding-left: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  margin-bottom: 0;
}
.model .box_nav {
  position: relative;
  z-index: 1;
}
.model .box_nav ul li {
  display: inline;
  float: left;
}
.model .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.model .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.model .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.model .box_nav ul li a:hover {
  text-decoration: none;
}
.model .btns {
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
}
.model .btns .button {
  width: 100px;
  text-align: center;
}
.model .box_detail {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.model .image-wrap {
  display: block;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.model .image-wrap.pic_small {
  border-radius: 25px;
}
.model .image-wrap.pic_middle {
  border-radius: 50px;
}
.model .image-wrap.pic_larger {
  border-radius: 125px;
}
.model.blue .box_header .box_title {
  color: #fff;
  background: #2f549f url(../images/box_title.gif) no-repeat right 0;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.blue .box_nav ul li.backLava {
  border-bottom-color: #2f549f;
}
.model.blue .box_nav ul li.selectedLava a {
  color: #2f549f;
}
.model.yellow .box_header .box_title {
  color: #fff;
  background: #9f742f url(../images/box_title.gif) no-repeat right -40px;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.yellow .box_nav ul li.backLava {
  border-bottom-color: #9f742f;
}
.model.yellow .box_nav ul li.selectedLava a {
  color: #9f742f;
}
.model.green .box_header .box_title {
  color: #fff;
  background: #869f2f url(../images/box_title.gif) no-repeat right -80px;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.green .box_nav ul li.backLava {
  border-bottom-color: #869f2f;
}
.model.green .box_nav ul li.selectedLava a {
  color: #869f2f;
}
.model.purple .box_header .box_title {
  color: #fff;
  background: #932f9f url(../images/box_title.gif) no-repeat right -120px;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.purple .box_nav ul li.backLava {
  border-bottom-color: #932f9f;
}
.model.purple .box_nav ul li.selectedLava a {
  color: #932f9f;
}
.model.rose .box_header .box_title {
  color: #fff;
  background: #aa3259 url(../images/box_title.gif) no-repeat right -160px;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.rose .box_nav ul li.backLava {
  border-bottom-color: #aa3259;
}
.model.rose .box_nav ul li.selectedLava a {
  color: #aa3259;
}
.model.cyan .box_header .box_title {
  color: #fff;
  background: #307d9c url(../images/box_title.gif) no-repeat right -200px;
  margin-left: -2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.model.cyan .box_nav ul li.backLava {
  border-bottom-color: #307d9c;
}
.model.cyan .box_nav ul li.selectedLava a {
  color: #307d9c;
}
/* skins_factory
-----------------------------------------------------------------------------------------*/
.skins_factory {
  background: #25262a url("../images/skins_factory/bg.png") left top no-repeat;
  background-color: rgba(37, 38, 42, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000000;
  position: relative;
  z-index: 1;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
  color: #fff;
  /* 连接
		-----------------------------------------*/

  /* html 元素
		--------------------------------------------*/

  /* 导航
		----------------------------------------*/

}
.skins_factory:before {
  background-color: #fff;
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  moz-box-shadow: 0 0 2px #ffffff;
  webkit-box-shadow: 0 0 2px #ffffff;
  box-shadow: 0 0 2px #ffffff;
}
.skins_factory:after {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.skins_factory a {
  color: #95A6B6;
}
.skins_factory a:link,
.skins_factory a:visited,
.skins_factory a:active,
.skins_factory a a:focus {
  text-decoration: none;
}
.skins_factory a:hover {
  color: #fff;
  text-decoration: underline;
}
.skins_factory img,
.skins_factory .image-wrap {
  border: 2px solid #1E2227;
  box-shadow: inset 0 0 2px #ffffff, 0 0 1px rgba(255, 255, 255, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 1;
  position: relative;
}
.skins_factory img:before,
.skins_factory .image-wrap:before {
  position: absolute;
  z-index: 1;
  content: ' ';
  width: 2px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #fff;
}
.skins_factory img:after,
.skins_factory .image-wrap:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
}
.skins_factory .inner {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.skins_factory .box_header {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.skins_factory .box_header:before {
  content: "";
  background: url("../images/skins_factory/light_t.png") no-repeat;
  width: 94px;
  height: 5px;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 70px;
}
.skins_factory .box_header .box_title {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.skins_factory .box_header .box_title .title {
  display: inline-block;
  color: #fff;
  text-shadow: #000 0 0 5px;
  margin-bottom: 0;
  font-size: 20px;
}
.skins_factory .box_nav {
  position: relative;
  z-index: 1;
}
.skins_factory .box_nav ul li {
  display: inline;
  float: left;
}
.skins_factory .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.skins_factory .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.skins_factory .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.skins_factory .box_nav ul li a:hover {
  text-decoration: none;
}
.skins_factory .box_detail {
  padding: 20px;
}
.skins_factory .box_footer {
  color: #A1A9AD;
  padding: 5px 20px;
}
.skins_factory .box_footer:before {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}
.skins_factory .box_footer:after {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}
/* blue_a_white
---------------------------------------------------------------------------------------------*/
.blue_a_white {
  border: 4px solid #039;
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(0, 0, 0, 0.5);
  background: #ffffff url("../images/blue_a_white/bg.png") right top no-repeat;
  position: relative;
  z-index: 1;
  color: #333;
  /* html 元素
		--------------------------------------------*/

  /* 导航
		----------------------------------------*/

}
.blue_a_white:before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 1px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 3px #fff;
}
.blue_a_white:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.5);
  border-color: #06c;
}
.blue_a_white .image-wrap {
  border: 4px solid #039;
  border-color: rgba(0, 51, 153, 0.9);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(255, 255, 255, 0.4);
  webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(255, 255, 255, 0.4);
  moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.blue_a_white .image-wrap:before {
  content: "";
  width: 92%;
  height: 10px;
  position: absolute;
  z-index: 1;
  bottom: -18px;
  left: 0;
  -moz-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  -o-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
.blue_a_white .image-wrap:after {
  content: "";
  width: 92%;
  height: 4px;
  position: absolute;
  z-index: 1;
  top: -4px;
  left: 0;
  -moz-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  -o-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
.blue_a_white .inner {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background: url("../images/blue_a_white/bottom.png") repeat;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.blue_a_white .box_header .box_title {
  padding: 5px 10px;
}
.blue_a_white .box_header .box_title .title {
  color: #039;
  display: inline-block;
  text-shadow: 0 1px 1px #fff ;
  margin-bottom: 0;
}
.blue_a_white .box_nav {
  position: relative;
  z-index: 1;
}
.blue_a_white .box_nav ul li {
  display: inline;
  float: left;
}
.blue_a_white .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.blue_a_white .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.blue_a_white .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.blue_a_white .box_nav ul li a:hover {
  text-decoration: none;
}
.blue_a_white .box_detail {
  padding: 10px;
}
.blue_a_white .box_footer {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}
.blue_a_white .box_footer:before {
  content: "";
  width: 92%;
  height: 15px;
  position: absolute;
  z-index: 1;
  bottom: -23px;
  left: 0;
  -moz-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  -o-border-image: url("../images/blue_a_white/light_b.png") 4 2 0 stretch;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
/* rigo_light
---------------------------------------------------------------------------------------------*/
.rigo_light {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  color: #676B7B;
  border-radius: 10px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(255, 255, 255, 0.4);
  /* html 元素
		--------------------------------------------*/

  /* 导航
		----------------------------------------*/

}
.rigo_light .image-wrap {
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset -1px 0 0 rgba(0, 0, 0, 0.3);
}
.rigo_light .inner {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 30%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(30%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 30%);
}
.rigo_light .box_nav {
  position: relative;
  z-index: 1;
}
.rigo_light .box_nav ul li {
  display: inline;
  float: left;
}
.rigo_light .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.rigo_light .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.rigo_light .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.rigo_light .box_nav ul li a:hover {
  text-decoration: none;
}
/* beach
---------------------------------------------------------------------------------------------*/
.beach {
  padding-left: 45px;
  background: #e9eef2 url(../images/beach/image17.png) left top repeat-y;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  /* 导航
		----------------------------------------*/

}
.beach:before {
  content: "";
  width: 100%;
  height: 116px;
  position: absolute;
  z-index: -2;
  bottom: -80px;
  left: 0;
  -moz-border-image: url("../images/beach/image2.png") 0 80s tretch;
  -webkit-border-image: url("../images/beach/image2.png") 0 80s tretch;
  -o-border-image: url("../images/beach/image2.png") 0 80 stretch;
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
}
.beach:after {
  content: "";
  width: 100%;
  height: 116px;
  position: absolute;
  z-index: -2;
  bottom: -130px;
  left: -10%;
  -moz-border-image: url("../images/beach/image3.png") 0 80 stretch;
  -webkit-border-image: url("../images/beach/image3.png") 0 80 stretch;
  -o-border-image: url("../images/beach/image3.png") 0 80 stretch;
  border-width: 80px;
  border-style: solid;
  border-color: transparent;
}
.beach .inner {
  padding-right: 45px;
  background: #e9eef2 url(../images/beach/image15.png) right top repeat-y;
}
.beach .box_header {
  padding-top: 44px;
  background: #e9eef2 url(../images/beach/image13.png) center top repeat-x;
}
.beach .box_header .title {
  padding: 10px 20px;
  margin-bottom: 0;
}
.beach .box_header:before {
  content: "";
  width: 45px;
  height: 44px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: #e9eef2 url(../images/beach/image12.png) left top no-repeat;
}
.beach .box_header:after {
  content: "";
  width: 45px;
  height: 44px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #e9eef2 url(../images/beach/image14.png) right top no-repeat;
}
.beach .box_nav {
  position: relative;
  z-index: 1;
}
.beach .box_nav ul li {
  display: inline;
  float: left;
}
.beach .box_nav ul li.backLava {
  display: block;
  float: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #2f549f;
  margin: 0;
  z-index: 1;
  bottom: 0;
}
.beach .box_nav ul li.selectedLava a {
  font-weight: bold;
  color: #2f549f;
}
.beach .box_nav ul li a {
  display: block;
  color: #333;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
}
.beach .box_nav ul li a:hover {
  text-decoration: none;
}
.beach .box_detail {
  padding: 10px 20px;
}
.beach .box_detail:before {
  content: "";
  width: 45px;
  height: 43px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #e9eef2 url(../images/beach/image16.png) left bottom no-repeat;
}
.beach .box_detail:after {
  content: "";
  width: 45px;
  height: 43px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  background: #e9eef2 url(../images/beach/image18.png) right bottom no-repeat;
}
.beach .box_footer {
  padding: 20px;
  padding-bottom: 104px;
  background: url(../images/beach/image19.png) center bottom repeat-x;
}
.beach .box_footer:before {
  content: "";
  width: 100%;
  height: 22px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 0;
  -moz-border-image: url("../images/beach/image4.png") 4 0 0 stretch;
  -webkit-border-image: url("../images/beach/image4.png") 4 0 0 stretch;
  -o-border-image: url("../images/beach/image4.png") 4 0 0 stretch;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
.beach .box_footer:after {
  content: "";
  width: 225px;
  height: 139px;
  position: absolute;
  z-index: 1;
  bottom: -55px;
  left: 1%;
  background: url(../images/beach/image21.png) center bottom no-repeat;
}
/* winbox
---------------------------------------------------------------------------------------------*/
.winbox {
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.winbox .inner {
  border: 1px solid #fff;
  border-radius: 7px;
  -o-transition: all 0.2s ease-out 0.1s;
  -webkit-transition: all 0.2s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}
.winbox .box_header {
  -o-transition: all 0.2s ease-out 0.1s;
  -webkit-transition: all 0.2s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}
.winbox .box_header .box_title {
  padding: 5px 10px;
}
.winbox .box_header .title {
  color: #333;
  font: bold 14px/25px "微软雅黑", Arial;
  margin-bottom: 0;
}
.winbox .box_detail {
  width: 400px;
  display: none;
  overflow: hidden;
  -o-transition: all 0.2s ease-out 0.1s;
  -webkit-transition: all 0.2s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}
.winbox .box_footer {
  background: #f4f4f4;
  padding: 10px;
  text-align: right;
  -o-transition: all 0.2s ease-out 0.1s;
  -webkit-transition: all 0.2s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}
.winbox .loading_bar {
  width: 100%;
  height: 5px;
}
.winbox .loading_bar .progress_bar {
  height: 5px;
}
