@charset "gbk";
/*-------------------------------------------------
--------------------------------------------------- 
    注释 DEFINITIONS	: mg
	作者 AUTHOR 		: mg
	版本 VERSION		: 2012-02-24
	
	内容CONTENTS:
		1.全局样式
			1.1 首页高度定义
		2.首页分类
		3.banner切换广告
		4.site_stats首页统计
		5.guide首页向导
		6.moving首页动态
		7.notice公告
		8.activity活动
		9.task任务
		10.shop商城
		11.news资讯
		12.case案例展示
		13.talent人才
		
			
*/
/*1.全局样式
-----------------------------------------------------*/
.box.default .notice .box_detail a,
.box.model .news .box_detail .small_list .item a, 
.box.model .news .box_detail .small_list .main_title a{ background:url(../img/style/dot.png) no-repeat }
.box.default .notice .box_detail a:hover,
.box.model .news .box_detail .small_list .item a:hover, 
.box.model .news .box_detail .small_list .main_title a:hover{color:#88bebe;}
.box.default .box_header .box_nav a{padding:5x 6px;}

/*2.首页分类*/
.category{background:#131315;}
	.category a{color:#898484; height:30px; line-height:30px;}
	.category a.purple,.category a:hover.purple{color:#898484;}
		.category a:hover{color:#fff !important; text-shadow:0 0 2px #000; text-decoration:underline;}
		/*分类切换*/
		 .category .tab{  position:static; z-index:2; width:auto;}
			 .category .tab li{background-image:none; width:50%; float:left; clear:none;}
				 .category .tab a,.category .tab a:hover{border:none; color:#bbb; background:#161616; padding:0 0;  height:30px; line-height:30px;
				 							background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#252525)); 
												    background-image: -webkit-linear-gradient(top, #161616, #252525); 
												    background-image:    -moz-linear-gradient(top, #161616, #252525); 
												    background-image:     -ms-linear-gradient(top, #161616, #252525); 
												    background-image:      -o-linear-gradient(top, #161616, #252525); 
												    background-image:         linear-gradient(top, #161616, #252525);
													filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161616', endColorstr='#252525');
											}
				 	
				 	
				 			.category .tab li a.selected,.category .tab a.selected:hover{
								 					color:#31400d !important; text-shadow:none; border:none;
													background-color: #6c901b;
												    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5cd4e), to(#6c901b)); 
												    background-image: -webkit-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:    -moz-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:     -ms-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:      -o-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:         linear-gradient(top, #a5cd4e, #6c901b);
													filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cd4e', endColorstr='#6c901b');
													box-shadow:0 2px 5px rgba(0,0,0,.5);
									}
				
		/*二次分类*/
		.category .indus_list li ul.s_all li.s_all_li:nth-of-type(1),
		.category .indus_list li ul.s_all li.s_all_li:nth-of-type(2){border-top:none;}
		.category .indus_list li ul.s_all li.s_all_li:nth-last-of-type(1),
		.category .indus_list li ul.s_all li.s_all_li:nth-last-of-type(2){border-bottom:none;}
		.category .indus_list{/*padding-top:32px;*/}
			.category .indus_list li{border-top-color:#0b0a0c; border-bottom-color:#25292a;}
			.category .indus_list li a.selected{ border:none; border-right:none; background:#3f4147; margin:0;box-shadow:none;}
				.category .indus_list li ul.s_nav{ right:-228px; top:0;  border:none; background:#3f4147;}
					.category .indus_list li ul.s_nav li,
					.category .indus_list li ul.s_all li{ border-top:none; border-bottom:1px dotted #25292A;}
					.category .indus_list li ul.s_nav li:before,
					.category .indus_list li ul.s_all li:before{ content: "."; display: block; width: 20px; height: 30px; position: absolute; top: 0; right: 0; text-indent: -9999px; 
					background: -moz-linear-gradient(left, rgba(63, 65, 71,0) 0%, rgba(63, 65, 71,1) 100%); 
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63, 65, 71,0)), color-stop(100%,rgba(63, 65, 71,1))); 
					background: -webkit-linear-gradient(left, rgba(63, 65, 71,0) 0%,rgba(63, 65, 71,1) 100%); 
					background: -o-linear-gradient(left, rgba(63, 65, 71,0) 0%,rgba(63, 65, 71,1) 100%); 
					background: -ms-linear-gradient(left, rgba(63, 65, 71,0) 0%,rgba(63, 65, 71,1) 100%); 
					background: linear-gradient(left, rgba(63, 65, 71,0) 0%,rgba(63, 65, 71,1) 100%);}
					.category .indus_list li ul.s_all{border:none;background:#3f4147; right:-558px;}
					
				#ie6 .category .indus_list li ul.s_nav{right:-230px;}								
					#ie6 .category .indus_list li ul.s_all{right:-559px;}						
			
/***3.banner切换广告***/			
	.deep_style .banner #slides a.next:hover,.deep_style .banner #slides a.prev:hover{ background:#131315; background:rgba(19, 19, 21,.9);}

/***4.site_stats首页统计***/	
		.box.default .site_stats .shop_stats{ height:40px;overflow:hidden;}
		.box.default .site_stats p{color:#dfd9d9;}
		 .box.default .site_stats ul{border-top:1px solid #25292A;}
		 .box.default .site_stats li{border-bottom:1px solid #25292A;border-top:1px solid #0B0A0C;}

		
/**5.guide首页向导**/
		.deep_style .box.default .guide a:hover{ background-color:#3f4147; box-shadow:none;}
		 .deep_style .box.default .guide .title{color:#728940;}
		 .box .guide .guide_file, .box .guide .guide_share, .box .guide .guide_find{border-bottom:1px solid #25292A;border-top:1px solid #0B0A0C;}
		 .deep_style .box.default .guide .border_b_c{border-bottom:1px solid #25292A;}
		 .box .guide .guide_part, .box .guide .guide_tool{border-top:1px solid #0B0A0C;}
		 .box .guide .guide_earn a{ background-image:url(../img/index/money_bag32.png);}
		 .box .guide .guide_find a{background-image:url(../img/index/find32.png);}
		 .box .guide .guide_file a{background-image:url(../img/index/script32.png);}
		 .box .guide .guide_part a{background-image:url(../img/index/schedule32.png); }
		 .box .guide .guide_tool a{background-image:url(../img/index/tool32.png); }
		 .box .guide .guide_share a{background-image:url(../img/index/share32.png);}
		 
/**6.moving首页动态**/		
	.box.default .moving p{color:#666;}
	.box.default .moving .show_area a:hover,.box.default .moving .show_area a:hover strong{ text-decoration:underline;}
/*8.activity活动*/
	.box.default .activity .box_detail .small_list .item a{background:url(../img/style/dot.png) no-repeat 0 0;}
	.box.default .activity .box_detail .small_list .item a:hover{ background-color:#131315; color:#88bebe;}	
/*task*/
	.box.model .task .box_detail .small_list .item a,.box.model .task .box_detail .small_list .item .task_status{background:#131315;}
	 .box.model .task .box_detail .small_list .item a:hover{ background:#131315; box-shadow:0 0 5px rgba(225,225,225,.5);}
    .box.model .box_detail .tops li.line,
	.box.model .task .box_detail .tops li.line{ border-left:1px solid #0B0A0C; border-right:1px solid #25292A;}
	.box.model .task .box_detail .tops .item h2 a{color:#dcdcdc;}
	.publisher a,.task_mode{color:#6a6d78;}
/*shop*/
.box.model .shop .box_detail .small_list a{background-color:#2e2e2e;}
	.box.model  .shop  .box_header .box_title span,.box.model .shop .box_header .box_nav ul li.selectedLava a{color:#57B6D2;}
	.box.model .shop .box_header .box_nav ul li.backLava{border-color:#57B6D2;}
	.box.model .shop .box_detail .small_list a img{border:1px solid #4E4F52;}
	
/*case*/
	.box.model .case .box_detail .small_list li.first{ background:#2e2e2e;}
		.box.model .case .box_detail .small_list li.first .main_title a:hover{ background:#2e2e2e;}
/* news*/
 .box.model .news .box_detail .small_list .main_title a:hover,
			 .box.model .news .box_detail .small_list .item a:hover{background-color:#131315; box-shadow:0 0 5px rgba(225,225,225,.5);}
/* talent */			 	
.talent .box_detail .title h2{color:#CAC7C7;}
.talent .box_detail .ranking_list .item{border-bottom:1px solid #25292A;border-top:1px solid #0B0A0C;}
.talent .box_detail .ranking_list .item .rank_no{ background:#8FB63A;}
