@charset "gbk";
/* CSS Document */
html body{ width:100%; height:100%}


/*global*/
.clear{clear:both;height:0;overflow:hidden;display: block; visibility: hidden;}
.clearfix:before,
.clearfix:after {  content: '\0020';  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.font16b{font-size:16px !important;font-weight:bold !important;}
.font14b{font-size:14px !important;font-weight:bold !important;}
.font20{font-size:20px;}
.font18{ font-size:18px;}
.font18b{ font-size:18px; font-weight:bold;}
.fontb{font-weight:bold;}
.font14{font-size:14px;}
.font12{font-size:12px;}
.font18{font-size:18px;}
.font36b{font-size:36px; font-weight:bolder;}
.font_simsun{ font-family:SimSun;}/*宋体*/
.font_georgia{ font-family:Georgia, "Times New Roman", Times, serif;}
.font_normal{ font-weight:normal;}
.ov_visibel{ overflow:visible !important;}
.ov_hide{ overflow:hidden !important;}
.ws_normal{ white-space:normal !important;}
.ws_break{word-wrap:break-word !important;word-break:normal !important;}
.ws_prewrap{ white-space:pre-wrap !important;}
.ws_hide{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width:100%;}
.block{ display:block !important;}
.t_l{text-align:left !important;}
.t_c{text-align:center !important;}
.t_r{text-align:right !important;}
.t_i{text-indent:2em;}

.hidden{ display:none !important;}
.fl_l{float:left !important;}
.fl_r{float:right !important;}
.fl_n{float:none !important;}

.red{ color:red !important;}
.cf60{ color:#f60 !important;}		
.cfff{ color:#fff !important;}
.cc00{color:#c00 !important;}
.c03a{color:#03a !important;}
.c999{color:#999 !important;}
.c939{ color:#939 !important;}
.c393{ color:#393 !important;}
.c900{color:#900 !important;}
.cf90{color:#f90 !important;}	
.c396{color:#396 !important;}
.cc33{color:#c33 !important;}
.c960{ color:#960 !important;}
.c939393{color:#939393 !important;}
.c961C1B{color:#961C1B !important;}
.c656565{color:#656565 !important;}
.c690{ color:#690 !important;}
.ccc{color:#ccc !important;}
.ceee{color:#eee !important;}
.c369{ color:#369 !important;}
.c555{color:#555 !important;}
.c333{color:#333 !important;}
.cfc6{ color:#fc6 !important;}
.c6d6{color:#6d6d6d !important;}
.c000{color:#000 !important;}
.bc33{ background:#c33 !important; color:#fff !important;}
.b396{ background:#396 !important; color:#fff !important;}
.bf7{ background:#f7f7f7 !important; color:#666 !important;}
.f2f2{background:#f2f2f2;}

.pad0{ padding:0 !important;}
.pad5{padding:5px;}
.pad10{ padding:10px;}
.pad20{ padding:20px;}
.pl_5{ padding-left:5px;}
.pl_10{ padding-left:10px;}
.pl_20{ padding-left:20px;}
.pl_30{ padding-left:30px;}
.pl_40{ padding-left:40px;}
.pr_5{ padding-right:5px;}
.pr_10{ padding-right:10px;}
.pr_20{ padding-right:20px;}
.pr_30{ padding-right:30px;}
.pr_40{ padding-right:40px;}
.pt_5{ padding-top:5px;}
.pt_10{ padding-top:10px;}
.pt_15{ padding-top:15px;}
.pt_20{ padding-top:20px;}
.pt_30{ padding-top:30px;}
.pb_5{ padding-bottom:5px;}
.pb_10{ padding-bottom:10px;}
.pb_15{padding-bottom:15px;}
.pb_20{ padding-bottom:20px;}
.pb_30{ padding-bottom:30px;}
.mar_auto{margin:auto;}
.mar0{ margin:0 !important;}
.mar10{ margin:10px;}
.mar20{ margin:20px;}
.mt_5{ margin-top:5px;}
.mt_10{ margin-top:10px;}
.mt_20 { margin-top:20px;}
.mt_30 { margin-top:30px;}
.mt_35 { margin-top:35px;}
.mb_5{ margin-bottom:5px;}
.mb_10{ margin-bottom:10px;}
.mb_20{ margin-bottom:20px;}
.mb_30{ margin-bottom:30px ;}
.ml_4{ margin-left:4px;}
.ml_5{ margin-left:5px;}
.ml_10{ margin-left:10px;}
.ml_20{ margin-left:20px;}
.ml_30 { margin-left:30px !important;}
.mr_5{ margin-right:5px;}
.mr_10{ margin-right:10px;}
.mr_20{ margin-right:20px;}
.mr_30{ margin-right:30px !important;}

.po_ab{ position:absolute;}
.po_re{ position:relative;}

.lineh_32{ line-height:32px;}

.height_auto{ height:auto !important;}

/*avatar用户头像设置*/
.pic_larger{ width:150px; height:150px; overflow:hidden;}
.pic_middle{ width:100px; height:100px; overflow:hidden;}
.pic_small{ width:50px; height:50px; overflow:hidden;}

/**/
.col1{ display:inline; float:left; width:100%; }
.col2{ display:inline; float:left; width:50%; }
.col3{ display:inline; float:left; width:33%; }
.col4{ display:inline; float:left; width:25%; }
.col5{ display:inline; float:left; width:20%; }
.col6{ display:inline; float:left; width:16%; }
.col7{ display:inline; float:left; width:14%; }
/**/
.op_05{ -moz-opacity:0.5;	-khtml-opacity: 0.5;opacity: 0.5; filter:alpha(opacity=50);}
.op_03{filter:alpha(opacity=30); -moz-opacity:0.3;	-khtml-opacity: 0.3;opacity: 0.3;}
/*arrow*/
.arrow_b{ border:4px solid #f90;border-left-color:#fff; border-right-color:#fff;border-bottom-color:#fff; display:inline-block; width:0; height:0; font-size:0; line-height:0; vertical-align:middle; margin:0 2px;}
.arrow_t{ border:4px solid #f90;border-left-color:#fff; border-right-color:#fff;border-top-color:#fff; display:inline-block; width:0; height:0; font-size:0; line-height:0; vertical-align:text-top; margin:0 2px;}
.arrow_r{ border:4px solid #f90;border-right-color:#fff; border-top-color:#fff;border-bottom-color:#fff; display:inline-block; width:0; height:0; font-size:0; line-height:0; vertical-align:middle; margin:0 2px;}
.arrow_l{ border:4px solid #f90;border-left-color:#fff; border-top-color:#fff;border-bottom-color:#fff; display:inline-block; width:0; height:0; font-size:0; line-height:0; vertical-align:middle; margin:0 2px;}

/****/
ul.num{ list-style:decimal inside; padding-left:20px;}
/**adv广告宽度和高度**/

.adv{margin:10px 5px; background:#e5e5e5; text-align:center; clear:both; display:block;}
.adv a{ display:inline-block;}
.adv object,.adv embed{ display:block;margin:auto;}
.adv img{max-width:100%;}
/*.w190xh151{ width:190px; height:151px; overflow:hidden;}
.w950xh90{ width:950px; height:90px;overflow:hidden; clear:both; padding:0 5px; margin:auto;}
.w310xh90{width:310px; height:90px;overflow:hidden; float:left; padding:0 5px;}
.w470xh90{width:470px; height:90px;overflow:hidden; float:left; padding:0 5px;}
.w630xh90{width:630px; height:90px;overflow:hidden; float:left; padding:0 5px;}
.w308xh90{ width:308px; height:90px; overflow:hidden;}
.w145xh149{ width:145px; height:149px; overflow:hidden;}
*/
/**/
/*loading*/
.loading_bar{ position:relative; z-index:1;}
	.progress_bar{ position:absolute; left:0; top:0; z-index:1;}
		.loading_bar .num{ position:absolute; z-index:2; width:100%; text-align:center;left:0; top:0;}

	
/*border*/
.bord_c{ border:1px solid #ccc}
.border_t_c{ border-top:1px solid #ccc;}
.border_b_c{ border-bottom:1px solid #ccc;}
.border_r_c{ border-right:1px solid #ccc;}
.border_l_c{ border-left:1px solid #ccc;}
.border_n{ border:none !important;}

/*让position:fixed在IE6下可用! */
.fixed-top /* 头部固定 */{position:fixed;bottom:auto;top:0px;}
.fixed-bottom /* 底部固定 */{position:fixed;bottom:0px;top:auto;}
.fixed-left /* 左侧固定 */{position:fixed;right:auto;left:0px;}
.fixed-right /* 右侧固定 */{position:fixed;right:0px;left:auto;}
/* 上面的是除了IE6的主流浏览器通用的方法 */
* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
* html .fixed-top /* IE6 头部固定 */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));}
* html .fixed-right /* IE6 右侧固定 */ {position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));}
* html .fixed-bottom /* IE6 底部固定  */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
* html .fixed-left /* IE6 左侧固定 */{position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft));}

/**弹出框内容宽度**/
.winbody{ width:510px; background:#fff !important;}
	.min_win{ width:300px; margin:auto;}

/*icon*/

.icon16{ display:inline-block; float:left; width:16px; height:16px; overflow:hidden; vertical-align:middle; font-size:12px; line-height:15px;text-indent:9999em;background-image:url(../img/style/icon16.png); background-repeat:no-repeat; cursor:pointer;}
.icon32{ display:inline-block; float:left; width:32px; height:32px; overflow:hidden; vertical-align:middle;font-size:12px; line-height:15px;text-indent:9999em; background-image:url(../img/style/icon32.png); background-repeat:no-repeat; cursor:pointer;}
.icon48{ display:inline-block; float:left; width:48px; height:48px; overflow:hidden; vertical-align:middle;font-size:12px;line-height:25px;text-indent:9999em; background-image:url(../img/style/icon48.png); background-repeat:no-repeat; cursor:pointer;}

#ie6 .icon16{background-image:none; text-indent:0; width:auto; height:auto;}
#ie6 .icon32{background-image:none; text-indent:0; width:auto; height:auto;}
#ie6 .icon48{background-image:none; text-indent:0; width:auto; height:auto;}

/*icon16*/
.icon16.picture{background-position:0 -2528px;}				.reverse.icon16.picture{background-position:-16px -2528px;}
.icon16.contact-card{background-position:0 -896px;}			.reverse.icon16.contact-card{background-position:-16px -896px;}	
.icon16.checkbox-checked{background-position:0 -768px;}		.reverse.icon16.checkbox-checked{background-position:-16px -768px;}
.icon16.key{background-position:0 -2032px;}					.reverse.icon16.key{background-position:-16px -2032px;}
.icon16.openid{background-position:0 -2352px;}				.reverse.icon16.openid{background-position:-16px -2352px;}
.icon16.cur-yen{background-position:0 -1056px;}				.reverse.icon16.cur-yen{background-position:-16px -1056px;}
.icon16.help{background-position:0 -3968px;}                .reverse.icon16.help{background-position:-16px -3968px;}
.icon16.pencil{background-position:0 -2432px;}				.reverse.icon16.pencil{background-position:-16px -2432px;}	
.icon16.delete{background-position:0 -1200px;}				.reverse.icon16.delete{background-position:-16px -1200px;}
.icon16.doc-new{ background-position:0 -1344px;}			.reverse.icon16.doc-new{ background-position:-16px -1344px;}
.icon16.doc-lines-stright{ background-position:0 -1312px;}	.reverse.icon16.doc-lines-stright{ background-position:-16px -1312px;}
.icon16.box{background-position:0 -432px;}					.reverse.icon16.box	{background-position:-16px -432px;}
.icon16.cert{background-position:0 -688px;}					.reverse.icon16.cert{background-position:-16px -688px;}				
.icon16.hand-1{background-position:0 -1808px;}				.reverse.icon16.hand-1{background-position:-16px -1808px;}
.icon16.hand-2{background-position:0 -1824px;}				.reverse.icon16.hand-2{background-position:-16px -1824px;}
.icon16.star-fav-empty{ background-position:0 -3616px;}		.reverse.icon16.star-fav-empty { background-position:-16px -3616px; }	
.icon16.expand{ background-position:0 -1440px;}				.reverse.icon16.expand{ background-position:-16px -1440px;}
.icon16.share{ background-position:0 -3232px;}				.reverse.icon16.share{ background-position:-16px -3232px;}
.icon16.home{ background-position:0 -1920px; }				.reverse.icon16.home{ background-position:-16px -1920px; }
.icon16.arrow-top{ background-position:0 -256px; }			.reverse.icon16.arrow-top { background-position:-16px -256px; }
.icon16.rss{ background-position:0 -3136px;}				.reverse.icon16.rss { background-position:-16px -3136px;}
.icon16.trash{ background-position:0 -3744px;}				.reverse.icon16.trash{ background-position:-16px -3744px;}
.icon16.sq-minus{background-position:0 -3488px;}			.reverse.icon16.sq-minus{background-position:-16px -3488px;}
.icon16.sq-plus{background-position:0 -3520px;}				.reverse.icon16.sq-plus{background-position:-16px -3520px;}
.icon16.rnd-br-up{ background-position:0 -2912px;}			.reverse.icon16.rnd-br-up{ background-position:-16px -2912px;}
.icon16.rnd-br-down{ background-position:0 -2992px;}		.reverse.icon16.rnd-br-down{ background-position:-16px -2992px;}	
.icon16.air-signal{ background-position:0 -48px;}			.reverse.icon16.air-signal{ background-position:-16px -48px;}
.icon16.notepad-2{ background-position:0 -2320px;}			.reverse.icon16.notepad-2{ background-position:-16px -2320px;}			
.icon16.doc-edit{ background-position:0 -1232px;}			.reverse.icon16.doc-edit{ background-position:-16px -1232px;}
.icon16.spechbubble-sq-line{ background-position:0 -3360px;}.reverse.icon16.spechbubble-sq-line{ background-position:-16px -3360px;}
.icon16.align-just{ background-position:0 -80px;}			.reverse.icon16.align-just{ background-position:-16px -80px;}
.icon16.gridtwo{ background-position:0 0px; }				.reverse.icon16.gridtwo{ background-position:-16px 0px; }
.icon16.image-text{ background-position:0 -1936px; }		.reverse.icon16.image-text{ background-position:-16px -1936px; }
.icon16.user{ background-position:0 -3808px;}				.reverse.icon16.user{ background-position:-16px -3808px;}
.icon16.users{ background-position:0 -3824px;}				.reverse.icon16.users{ background-position:-16px -3824px;}
.icon16.padlock-open{ background-position:0 -2384px; }		.reverse.icon16.padlock-open{ background-position:-16px -2384px; }
.icon16.padlock-closed{ background-position:0 -2368px;}		.reverse.icon16.padlock-closed{ background-position:-16px -2368px;}
.icon16.round-plus{background-position:0 -3120px; }			.reverse.icon16.round-plus{background-position:-16px -3120px; }
.icon16.mail{background-position:0 -2176px;}				.reverse.icon16.mail{background-position:-16px -2176px;}
.icon16.cog{background-position:0 -944px;}					.reverse.icon16.cog{background-position:-16px -944px;}
.icon16.top-right-expand{background-position:0 -3728px;}    .reverse.icon16.top-right-expand{background-position:-16px -3728px;}
.icon16.eye{ background-position:0 -1456px;}                .reverse.icon16.eye{ background-position:-16px -1456px;}
.icon16.download{ background-position:0 -1392px; }			.reverse.icon16.download{background-position:-16px -1392px;}
.icon16.arrow-bottom-left{ background-position:0 -160px; }	.reverse.icon16.arrow-bottom-left{ background-position:-16px -160px; }
.icon16.arrow-top-right{background-position:0 -288px;}		.reverse.icon16.arrow-top-right{background-position:-16px -288px;}
.icon16.spechbubble{ background-position:0 -3312px;}		.reverse.icon16.spechbubble{ background-position:-16px -3312px;}
.icon16.spechbubble-2{background-position:0 -3328px;}		.reverse.icon16.spechbubble-2{background-position:-16px -3328px;}
.icon16.clip{background-position:0 -816px;}					.reverse.icon16.clip{ background-position:-16px -816px; }
.icon16.text-letter-t{background-position:0 -3712px}		.reverse.icon16.text-letter-t{background-position:-16px -3712px;}
.icon16.print{background-position:0 -2880px;}				.reverse.icon16.print{background-position:-16px -2880px;}
.icon16.zoom{background-position:0 -3888px;}				.reverse.icon16.zoom{background-position:-16px -3888px;}
.icon16.sound{ background-position:0 -3264px}				.reverse.icon16.sound{ background-position:-16px -3264px}
.icon16.arrow-left{background-position:0 -208px;}			.reverse.icon16.arrow-left{background-position:-16px -208px;}
.icon16.arrow-right{background-position:0 -240px;}			.reverse.icon16.arrow-right{background-position:-16px -240px;}
.icon16.undo{background-position:0 -3792px;}				.reverse.icon16.undo{background-position:-16px -3792px;}
.icon16.redo{background-position:0 -2896px;}				.reverse.icon16.redo{background-position:-16px -2896px;}
.icon16.phone-2{background-position:0 -2480px;}				.reverse.icon16.phone-2{background-position:-16px -2480px;}
.icon16.cursor-arrow{background-position:0 -1072px;}		.reverse.icon16.cursor-arrow{background-position:-16px -1072px;}
.icon16.star-fav{background-position:0 -3600px;}			.reverse.icon16.star-fav{background-position:-16px -3600px;}
.icon16.br-next{background-position:0 -464px;}				.reverse.icon16.br-next{background-position:-16px -464px;}
.icon16.br-prev{background-position:0 -480px;}				.reverse.icon16.br-prev{background-position:-16px -480px;}
.icon16.meter{background-position:0 -3904px;}				.reverse.icon16.meter{background-position:-16px -3904px;}
.icon16.book{background-position:0 -384px;}					.reverse.icon16.book{background-position:-16px -384px;}
.icon16.notepad{background-position:0 -2304px;}				.reverse.icon16.notepad{background-position:-16px -2304px;}
.icon16.db{background-position:0 -1184px;}					.reverse.icon16.db{background-position:-16px -1184px;}
.icon16.list-bullets{background-position:0 -2128px;}		.reverse.icon16.list-bullets{background-position:-16px -2128px;}
.icon16.cur-dollar{background-position:0 -1024px;}			.reverse.icon16.cur-dollar{background-position:-16px -1024px;}
.icon16.expand{background-position:0 -1440px;}				.reverse.icon16.expand{background-position:-16px -1440px;}
.icon16.clipboard-copy{background-position:0 -832px;}		.reverse.icon16.clipboard-copy{background-position:-16px -832px;}
.icon16.case-1{background-position:0 -656px;}				.reverse.icon16.case-1{background-position:-16px -656px;}
.icon16.cog{background-position:0 -944px;}					.reverse.icon16.cog{background-position:-16px -944px;}
.icon16.cc{background-position:0 -672px;}					.reverse.icon16.cc{background-position:-16px -672px;}
.icon16.doc-empty{background-position:0 -1248px;}			.reverse.icon16.doc-empty{background-position:-16px -1248px;}
.icon16.browser{background-position:0 -528px;}				.reverse.icon16.browser{background-position:-16px -528px;}
.icon16.clipboard-past{background-position:0 -864px;}		.reverse.icon16.clipboard-past{background-position:-16px -864px;}
.icon16.compass{background-position:0 -976px;}				.reverse.icon16.compass{background-position:-16px -976px;}
.icon16.case{background-position:0 -656px;}					.reverse.icon16.case{background-position:-16px -656px;}
.icon16.document{background-position:0 -1376px}				.reverse.icon16.document{background-position:-16px -1376px;}
.icon16.layers-1{background-position:0 -2048px}				.reverse.icon16.layers-1{background-position:-16px -2048px}
.icon16.shield{background-position:0 -3952px}				.reverse.icon16.shield{background-position:-16px -3952px}
.icon16.chart-line{background-position:0 -720px}			.reverse.icon16.chart-line{background-position:-16px -720px}
.icon16.emotion-smile{background-position:0 -1424px}		.reverse.icon16.emotion-smile{background-position:-16px -1424px}
.icon16.br-down{background-position:0 -448px}				.reverse.icon16.br-down{background-position:-16px -448px}
.icon16.br-up{background-position:0 -496px}					.reverse.icon16.br-up{background-position:-16px -496px}
.icon16.playback-reload{background-position:0 -2816px}		.reverse.icon16.playback-reload{background-position:-16px -2816px}
.icon16.on-off{background-position:0 -2336px}           	.reverse.icon16.on-off{background-position:-16px -2336px}
.icon16.bell{background-position:0 -368px}           		.reverse.icon16.bell{background-position:-16px -368px}
.icon16.brush{background-position:0 -544px} 				.reverse.icon16.brush{background-position:-16px -544px}
.icon16.globe-2{background-position:0 -1760px;}
.reverse.icon16.round-checkmark{background-position:-16px -3072px}   .icon16.round-checkmark{background-position:0 -3072px}
.reverse.icon16.round-delete{background-position:-16px -3088px}   .icon16.round-delete{background-position:0 -3088px} 
.reverse.icon16.hand-pro{background-position:-16px -1856px}   .icon16.hand-pro{background-position:0 -1856px}  
.reverse.icon16.pin-map{background-position:-16px -2576px}   .icon16.pin-map{background-position:0 -2576px}  
/*icon32*/
.icon32.meter{ background-position:0 -7808px;}				a.selected .icon32.meter,a.selected:hover .icon32.meter,a:active .icon32.meter{ background-position:-32px -7808px;}
	.reverse.icon32.meter{ background-position:-32px -7808px;}
.icon32.cog{ background-position:0 -1856px;}				a.selected .icon32.cog,a.selected:hover .icon32.cog,a:active .icon32.cog{ background-position:-32px -1856px;}
	.reverse.icon32.cog{ background-position:-32px -1856px;}
.icon32.sound-high{ background-position:0 -6528px;}			a.selected .icon32.sound-high,a.selected:hover .icon32.sound-high,a:active .icon32.sound-high{ background-position:-32px -6528px;}
	.reverse.icon32.sound-high{ background-position:-32px -6528px;}	
.icon32.chart-line2{ background-position:0 -1472px;}		a.selected .icon32.chart-line2,a.selected:hover .icon32.chart-line2,a:active .icon32.chart-line2{ background-position:-32px -1472px;}
	.reverse.icon32.chart-line2{ background-position:-32px -1472px;}
.icon32.buyer{ background-position:0 -7840px;}				a.selected .icon32.buyer,a.selected:hover .icon32.buyer,a:active .icon32.buyer{ background-position:-32px -7840px;}
	.reverse.icon32.buyer{ background-position:-32px -7840px;}
.icon32.seller{ background-position:0 -7872px;}				a.selected .icon32.seller,a.selected:hover .icon32.seller,a:active .icon32.seller{ background-position:-32px -7872px;}
	.reverse.icon32.seller{ background-position:-32px -7872px;}
.icon32.shield{background-position:0 -7904px;}				a.selected .icon32.shield,a.selected:hover .icon32.shield,a:active .icon32.shield{ background-position:-32px -7904px;}
	.reverse.icon32.shield{background-position:-32px -7904px;}	
.icon32.star-fav{background-position:0 -7200px;}			a.selected .icon32.star-fav,a.selected:hover .icon32.star-fav,a:active .icon32.star-fav{ background-position:-32px -7200px;}
	.reverse.icon32.star-fav{background-position:-32px -7200px;}
.icon32.hand-1{background-position:0 -3616px;}				a.selected .icon32.hand-1,a.selected:hover .icon32.hand-1,a:active .icon32.hand-1{background-position:-32px -3616px;}
	.reverse.icon32.hand-1{background-position:-32px -3616px;}
.icon32.bookmark-2{background-position:0 -832px;}			a.selected .icon32.bookmark-2,a.selected:hover .icon32.bookmark-2,a:active .icon32.bookmark-2{background-position:-32px -832px;}
	.reverse.icon32.bookmark-2{background-position:-32px -832px;}
.icon32.zoom{background-position:0 -7776px;}
	.reverse.icon32.zoom{background-position:-32px -7776px;}
.icon32.user{background-position:0 -7615px;}				a.selected .icon32.user,a:hover .icon32.user,a:active .icon32.user{background-position:-32px -7615px;}
	.reverse.icon32.user{background-position:-32px -7615px;}
.icon32.users{background-position:0 -7648px;}				a.selected .icon32.users,a:hover .icon32.users,a:active .icon32.users{background-position:-32px -7648px;}
	.reverse.icon32.users{background-position:-32px -7648px;}
/*top返回顶部*/
a.top {position:fixed; z-index:90;	right:15px;	bottom:80px; _margin:0 15px 15px 0; height:18px; width:40px;  padding-top:8px; padding-bottom:17px; overflow:hidden;  line-height:25px; background:#333;color:#888 !important;	display:block;	text-transform:uppercase;	text-decoration:none;	text-align:center;	font-size:14px;	-webkit-border-radius:10px;	-moz-border-radius:10px;	border-radius:10px; }
#ie6 a.top{position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)); top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
a.top:before {position:absolute;top:8px;left:8px;content:"";border-bottom:12px solid #888;border-left:12px solid transparent;border-right:12px solid transparent;}

a.top:hover {color:#eee !important;}

a.top:hover:before {border-bottom-color:#eee;}
a.top em{display:block; font-size:40px; height:10px; overflow:hidden; *margin-left:7px;}




/*表单验证提示效果*/
/*
.valid_info{ background:url(../img/ico/info.gif) 0 center no-repeat;color:#0075df }
.valid_error{ background:url(../img/ico/error.gif) 0 center no-repeat;color:#66666; }
.valid_success{ background:url(../img/ico/success.gif) 0 center no-repeat;color:green;}
.valid_info span,.valid_error span,.valid_success span{margin-left:20px;font-size: 12px;}
*/


/**mapinfo地图弹出层**/
.map_info{ overflow:hidden;}
	.map_info .pic_small{ float:left; margin-right:10px;}

.fwin{ box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), 0 0 20px rgba(0,0,0,.2);border:1px solid #666;   }

/*alert提示框内容样式*/
.sltm{border: 1px solid #CCC;background: #FFF url(../img/keke/newarow.gif) no-repeat 100% -19px;text-align: left;padding: 0 17px 0 4px;}
.sltm ul{margin: 3px 6px;}
.sltm li{color: #666;cursor: pointer;padding: 2px 0;}
.sltm li:hover{color: #333;}
.sltm li.current{color: #333;}
.altw{width: 350px; margin-top:10px}
.altw .fltc{margin-bottom: 0;padding: 8px;}

/*alert提示框的效果*/
.success,.error,.info,.confirm{padding: 15px 0 6px 58px;min-height: 40px;height: auto !important;height: 40px;line-height: 160%;background: url(../img/keke/right.gif) no-repeat 8px 8px;font-size: 14px;}
.error{background-image: url(../img/keke/error.gif);}   /*错误的提示*/
.info{background-image: url(../img/keke/info.gif);}   /* info提示*/
.success{background-image: url(../img/keke/right.gif);}  /* right提示*/
.confirm{background-image:url(../img/keke/confirm.png);} /*确认提示*/

/*pop窗口的样式*/
.p_pop,.p_pof{/*padding: 5px 0;*/border: 1px solid;border-color: #DDD #AAA #888 #DDD;background: #FFF;}
.p_pof{width: 500px;}
.p_opt{padding:5px;}
.p_pop li{display: inline; float:left;}
.p_pop a{ opacity:0.5; display: block;padding: /*3*/1px /*15*/1px; margin:0 3px;  border: solid #FFF;border-width: 1px ;white-space: nowrap;}
.p_pop a:hover{/*border-color:#ccc ;*/opacity:1;  background: #F4F4F4 url("../img/keke/tb.png") repeat-x 0 0;}
.p_pop a img{ display:block;}
.p_opt .txt,.p_opt .txtarea{margin: 5px 0;}
.p_pop .flbc,.p_pof .flbc{margin-right: 8px;margin-top: 4px;}

/*窗口边框的定义*/
.tt_l,.tt_c,.tt_r,.m_l,.m_r,.b_l,.b_c,.b_r{overflow: hidden;  background:#bbbbbb !important; filter:alpha(opacity=70); background:rgba(187, 187, 187, .7) !important;}
.tt_l,.tt_r,.b_l,.b_r{width: 8px;height: 8px;}
.tt_c,.b_c{height: 8px;}
.m_l,.m_r{width: 8px;}
.tt_l{}
.tt_r{}
.b_l{}
.b_r{}
.m_c{background: #FFF; border:1px solid #333\0; }
.m_c .tb{margin: 0 0 10px;padding: 0 10px;}
.m_c .c{padding: 0 10px 10px;}
.m_c .o{ padding: 8px 10px; margin-bottom:0; height: 31px;text-align: right;background-color:#F6F6F6; border-top:solid 1px #DADEE5; }
.m_c .el{width: 420px;}
.m_c .el li{padding: 0;border: none;}

/*窗口标题拖动效果*/
.flb { height:28px; line-height:28px; padding:0 10px 0 10px; font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important; background-color:#2F549F; /*background: linear-gradient(top, #edf5f8, #bdc6cd); background: -moz-linear-gradient(top, #2f549f, #2f549f); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd'); border-bottom:1px solid #b6bec5;*/ }
.aui_state_focus .flb { color:#4c5a5f; }
.aui_state_drag .flb { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); box-shadow:none; }



/*窗口标题效果*/
.flb em{float: left;font-size: 14px;font-weight: 700;color: #fff;font-style:normal;}
.flb em a{text-decoration: none;}
.flb .needverify{margin-left: 8px;padding-left: 13px;width: 45px;height: 21px;line-height: 21px;background: url(../img/keke/re_unsolved.gif) no-repeat 0 0;font-size: 12px;color: #999;font-weight: 400;}
.flb .onerror,.fl .onright{white-space: nowrap;height: auto;line-height: 140%;color: #666;font-size: 12px;font-weight: 400;}
.flb span{float: right;color: #999;}
.flb span a,.flb strong{float: left;text-decoration: none;margin-left: 8px;font-weight: 400;color: #333;}
.flb span a:hover{color: #999;}
.flbc{float: left;width: 20px;height: 20px; margin-top:3px; overflow: hidden;text-indent: -9999px;background: url(../img/keke/cls.gif) no-repeat 0 0;}
.flbc:hover{background-position: 0 0px;}



/*alert提示框按钮样式*/ 
 
.pns { padding:8px !important; text-align:right !important; white-space:nowrap !important; }
.pns button { margin-left:15px !important; padding: 6px 8px !important; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333 !important; border: solid 1px #999 !important; border-radius: 5px; background: #DDD !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.pns button:-moz-focus-inner{ border:0; padding:0; margin:0; }
.pns button:focus { outline:none 0 !important; border-color:#426DC9 !important; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.pns button:hover { color:#000 !important; border-color:#666 !important; }
.pns button:active { border-color:#666 !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.pns button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.pnc { color: #FFF !important; border: solid 1px #1c6a9e !important; background: #2288cc !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #s, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.pnc:hover { color:#FFF !important; border-color:#0F3A56 !important; }
button.pnc:active { border-color:#1c6a9e !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }

/* windows */
.vm{vertical-align: middle;}
.vm *{vertical-align: middle;}
#ajaxwaitid{display:none;position:fixed;left: 50%;top: 50%;z-index: 999; margin-top:-9px; margin-left:-63px; width:126px;}
	#ajaxwaitid div{ border-radius:5px;  padding: 5px 10px; color:#fff; font:12px/18px Arial,"宋体";  text-align:center; background: #294A8B; box-shadow:0 0 5px rgba(0,0,0,.5); }
#ie6 #ajaxwaitid {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop)+300);right:auto;left:expression(eval(document.body.scrollWidth)/2);}

	
/*图片浏览窗口效果*/
.clck{background: #FFF url(../img/keke/clck.gif) no-repeat 98% 50%;}
.px:focus, .pt:focus { border-color: rgb(111, 177, 223); color: rgb(51, 51, 51); -moz-box-shadow: 0pt 0pt 5px rgb(111, 177, 223); }
.zoominner{background:none repeat scroll 0 0 #FFFFFF;padding:5px 10px 10px;text-align:left;}
.zoominner p{padding:8px 0;}
.zoominner .y{float:right;}
.zoominner p a {background:url("../img/keke/imgzoom_tb.gif") no-repeat scroll 0 0 transparent;float:left;height:17px;line-height:100px;margin-left:10px;overflow:hidden;width:17px;}
.zoominner p a.imgadjust {background-position:-40px 0;}
.zoominner p a.imgclose {background-position:-80px 0;}
.zoominner p a.imgadjust:hover{background-position:-40px -39px;}
.zoominner p a.imgclose:hover{background-position:-80px -39px;}
.zoominner p a:hover{background-position:0 -39px;}
/*交稿遮罩*/
.mask_d{
	width:100%;
	height:100%;
	position:absolute;
	background:#000;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;opacity:0.3;
	text-align:center;
	display:table-cell!important; 
	vertical-align:middle!important;
	display:block;
	z-index:1998
}
.mask_i{
	position:relative;
	vertical-align:middle;
	top:50%;
	z-index:999
}

/*systips*/
.systips{ position:absolute; left:50%; top:50%; width:650px; height:300px; margin:-150px 0 0 -325px; background-color: transparent;background-color: rgba(0, 0, 0, 0.2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); zoom: 1;}
	.systips_detail{ height:240px; box-shadow:0 0 20px rgba(0,0,0,.2); line-height:30px; background:#fff; color:#666; border:1px solid #ccc; padding:50px 20px 10px;}
		.tip_icon{ width:150px; height:150px; float:left;}
		.tip_title{font-size:18px; padding:10px 0; font-weight:bold; text-align:left; color:#333; border-bottom:1px solid #ccc; font-family:"微软雅黑";}
			.tip_title_second{font-weight:normal;}
		.tip_messages{padding:10px 0 0; float:left; font-size:12px;}
			.tip_messages ul{ list-style:square; padding:10px 0 0 15px; color:#333;}
				.tip_messages ul a:hover{ text-decoration:underline;}
		.tip_help{ padding:10px 0; float:left; font-size:12px;}
			.warning .tip_icon{ background:#fff url(../img/keke/tipsicon.gif) no-repeat;}
			.success .tip_icon{ background:#fff url(../img/keke/tipsicon.gif) no-repeat left -150px;}
			.success .tip_title{ color:#390;}
			.info .tip_icon{ background:#fff url(../img/keke/tipsicon.gif) no-repeat left -300px;}
			.info .tip_title{ color:#6791d0;}
			.error .tip_icon{background:#fff url(../img/keke/tipsicon.gif) no-repeat left -450px;}


