.jcarousel-skin-default .jcarousel {
    position: relative;
    overflow: hidden;
    width: 790px;
    height: 280px;
	margin-left:auto;
	margin-right:auto;
}

.jcarousel-skin-default ul {
    width: 20000px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-skin-default li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

*[dir=rtl] .jcarousel-skin-default li {
    float: right;
    margin: 0 0 0 10px;
}

/** Custom **/

.jcarousel-skin-default li img {
    border: 0;
}
