@charset "gbk";
/* CSS Document */

/* 左边导航 */
.nav_list dt a:hover{background:#ff8a00;}
.nav_list dt a.selected,.nav_list dt a.selected:hover{color:#FF8A00;}
								
/* 下端内容 */
.question{background:#FFB966; height:32px; border-color:#f60;}
	.left_bk{background:#FF8A00; width:5px; height:32px;}
		.question:hover{background:#FFAD4C;}
			.q_title{ color:#fff;}
				.article{padding:0 30px;}
												
					