a.button, button { display: inline-block; padding:6px 5px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 12px; color: #fff;   white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; 
								border: 1px solid #525459; border-top:1px solid #706F75; 
								-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; outline: none; /*position: relative;*/ zoom: 1;
								 line-height: 15px; *display: inline; *vertical-align: middle;
								 background:#4C4D52;
								 background-image: -webkit-gradient(linear, left top, left bottom, from(#5B5C61), to(#4C4D52)); 
							     background-image: -webkit-linear-gradient(top, #5B5C61, #4C4D52); 
							     background-image:    -moz-linear-gradient(top, #5B5C61, #4C4D52); 
							     background-image:     -ms-linear-gradient(top, #5B5C61, #4C4D52); 
							     background-image:      -o-linear-gradient(top, #5B5C61, #4C4D52); 
							     background-image:         linear-gradient(top, #5B5C61, #4C4D52);
								 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B5C61', endColorstr='#4C4D52'); }
button { margin-left: 0; margin-right: 0;  }
a.button { -moz-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; -webkit-touch-callout: none;}
button::-moz-focus-inner { border: 0; padding:0px; }
a.button.primary, button.primary { font-weight: bold }
button:focus,a.button:hover, 
button:hover { color: #121318;  border-top:1px solid #636368; text-decoration: none;
background-color: #6c901b;
												    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5cd4e), to(#6c901b)); 
												    background-image: -webkit-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:    -moz-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:     -ms-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:      -o-linear-gradient(top, #a5cd4e, #6c901b); 
												    background-image:         linear-gradient(top, #a5cd4e, #6c901b);
													filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cd4e', endColorstr='#6c901b');}
a.button:active, button:active,
a.button.active, button.active {border-top:1px solid #57575B;
													background-color: #5C7B17;
												    background-image: -webkit-gradient(linear, left top, left bottom, from(#9BC73A), to(#5C7B17)); 
												    background-image: -webkit-linear-gradient(top, #9BC73A, #5C7B17); 
												    background-image:    -moz-linear-gradient(top, #9BC73A, #5C7B17); 
												    background-image:     -ms-linear-gradient(top, #9BC73A, #5C7B17); 
												    background-image:      -o-linear-gradient(top, #9BC73A, #5C7B17); 
												    background-image:         linear-gradient(top, #9BC73A, #5C7B17);
													filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9BC73A', endColorstr='#5C7B17');}
a.button:active, button:active { top: 1px }
a.button.negative:hover, button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active, button.negative:active,
a.button.negative.active, button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
a.button.positive:hover, button.positive:hover { background-position: 0 -280px; background-color: #96ED89; border-color: #45BF55; }
a.button.positive:active, button.positive:active,
a.button.positive.active, button.positive.active { background-position: 0 -320px; background-color: #45BF55; }
a.button.pill, button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 5px 10px 4px 10px; *padding: 4px 10px; }
a.button.left, button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; border-right: none; }
a.button.middle, button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-right: none; }
a.button.right, button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; }
a.button.left:active, button.left:active,
a.button.middle:active, button.middle:active,
a.button.right:active, button.right:active { top: 0px }
a.button.big, button.big { font-size: 16px; padding-left: 14px; padding-right: 17px; }
button.big { *padding: 4px 17px 2px 17px; }
a.button span.icon, button span.icon { overflow:hidden; display: inline-block; vertical-align:middle; width: 14px; height: 13px; margin: auto 7px auto auto; /*position: relative;*/ top: 0; *top: 0px; background-image: url('../img/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon, button.big span.icon { top: 0px }
a.button span.icon.book, button span.icon.book { background-position: 0 -15px }
a.button:hover span.icon.book, button:hover span.icon.book { background-position: 0 -15px }
a.button span.icon.calendar, button span.icon.calendar { background-position: 0 -30px }
a.button:hover span.icon.calendar, button:hover span.icon.calendar { background-position: 0 -45px }
a.button span.icon.chat, button span.icon.chat { background-position: 0 -60px }
a.button:hover span.icon.chat, button:hover span.icon.chat { background-position: 0 -75px }
a.button span.icon.check, button span.icon.check { background-position: 0 -103px }
a.button:hover span.icon.check, button:hover span.icon.check { background-position: 0 -103px }
a.button span.icon.clock, button span.icon.clock { background-position: 0 -116px }
a.button:hover span.icon.clock, button:hover span.icon.clock { background-position: 0 -131px }
a.button span.icon.cog, button span.icon.cog { background-position: 0 -161px }
a.button:hover span.icon.cog, button:hover span.icon.cog { background-position: 0 -161px }
a.button span.icon.comment, button span.icon.comment { background-position: 0 -176px }
a.button:hover span.icon.comment, button:hover span.icon.comment { background-position: 0 -190px }
a.button span.icon.cross, button span.icon.cross { background-position: 0 -204px }
a.button:hover span.icon.cross, button:hover span.icon.cross { background-position: 0 -219px }
a.button span.icon.downarrow, button span.icon.downarrow { background-position: 0 -234px }
a.button:hover span.icon.downarrow, button:hover span.icon.downarrow { background-position: 0 -249px }
a.button span.icon.fork, button span.icon.fork { background-position: 0 -264px }
a.button:hover span.icon.fork, button:hover span.icon.fork { background-position: 0 -279px }
a.button span.icon.heart, button span.icon.heart { background-position: 0 -294px }
a.button:hover span.icon.heart, button:hover span.icon.heart { background-position: 0 -308px }
a.button span.icon.home, button span.icon.home { background-position: 0 -322px }
a.button:hover span.icon.home, button:hover span.icon.home { background-position: 0 -337px }
a.button span.icon.key, button span.icon.key { background-position: 0 -352px }
a.button:hover span.icon.key, button:hover span.icon.key { background-position: 0 -367px }
a.button span.icon.leftarrow, button span.icon.leftarrow { background-position: 0 -382px }
a.button:hover span.icon.leftarrow, button:hover span.icon.leftarrow { background-position: 0 -397px }
a.button span.icon.lock, button span.icon.lock { background-position: 0 -412px }
a.button:hover span.icon.lock, button:hover span.icon.lock { background-position: 0 -427px }
a.button span.icon.loop, button span.icon.loop { background-position: 0 -442px }
a.button:hover span.icon.loop, button:hover span.icon.loop { background-position: 0 -457px }
a.button span.icon.magnifier, button span.icon.magnifier { background-position: 0 -487px }
a.button:hover span.icon.magnifier, button:hover span.icon.magnifier { background-position: 0 -487px }
a.button span.icon.mail, button span.icon.mail { background-position: 0 -502px }
a.button:hover span.icon.mail, button:hover span.icon.mail { background-position: 0 -514px }
a.button span.icon.move, button span.icon.move { background-position: 0 -526px }
a.button:hover span.icon.move, button:hover span.icon.move { background-position: 0 -541px }
a.button span.icon.pen, button span.icon.pen { background-position: 0 -556px }
a.button:hover span.icon.pen, button:hover span.icon.pen { background-position: 0 -571px }
a.button span.icon.pin, button span.icon.pin { background-position: 0 -586px }
a.button:hover span.icon.pin, button:hover span.icon.pin { background-position: 0 -601px }
a.button span.icon.plus, button span.icon.plus { background-position: 0 -631px }
a.button:hover span.icon.plus, button:hover span.icon.plus { background-position: 0 -631px }
a.button span.icon.reload, button span.icon.reload { background-position: 0 -660px }
a.button:hover span.icon.reload, button:hover span.icon.reload { background-position: 0 -660px }
a.button span.icon.rightarrow, button span.icon.rightarrow { background-position: 0 -689px }
a.button:hover span.icon.rightarrow, button:hover span.icon.rightarrow { background-position: 0 -689px }
a.button span.icon.rss, button span.icon.rss { background-position: 0 -704px }
a.button:hover span.icon.rss, button:hover span.icon.rss { background-position: 0 -719px }
a.button span.icon.tag, button span.icon.tag { background-position: 0 -734px }
a.button:hover span.icon.tag, button:hover span.icon.tag { background-position: 0 -749px }
a.button span.icon.trash, button span.icon.trash { background-position: 0 -779px }
a.button:hover span.icon.trash, button:hover span.icon.trash { background-position: 0 -779px }
a.button span.icon.unlock, button span.icon.unlock { background-position: 0 -794px }
a.button:hover span.icon.unlock, button:hover span.icon.unlock { background-position: 0 -809px }
a.button span.icon.uparrow, button span.icon.uparrow { background-position: 0 -824px }
a.button:hover span.icon.uparrow, button:hover span.icon.uparrow { background-position: 0 -839px }
a.button span.icon.user, button span.icon.user { background-position: 0 -854px }
a.button:hover span.icon.user, button:hover span.icon.user { background-position: 0 -869px }

@media only screen and (min-width: 240px) and (max-width: 640px){
	a.button span.icon, button span.icon{ display:none;}
}