.zbj_style{ font:12px/18px Arial, Helvetica, sans-serif;background:url(../img/style/zbj_bg.jpg) repeat; color:#6d6d6d;}
a{color:#06c;}
a:hover{color:#f60;}
.cc00,.c900{color:#f30 !important;}
/* 头部容器 */
.zbj_style .header{background:#fff; color:#333}
/* 搜索容器 */
.zbj_style .header .search .search_box{ border:1px solid #e5e5e5; box-shadow:none;}
/* 搜索下拉选项 */
.zbj_style .header .search .search_options{background:#f8f8f8; box-shadow:none; border-bottom:1px solid #e5e5e5;}
.header .search .search_selcecter{left:1px;}
.header .search .search_input{box-shadow:none; background:#fff;}
/* 搜索下拉选项链接 */
.zbj_style .header .search .search_selcecter a{color:#999; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; margin-left:-1px;}
.zbj_style .header .search .search_selcecter a:hover{ background:#fe9a33; color:#fff; }
/* 搜索下拉选中选项 */
.zbj_style .header .search .search_selcecter a.selected,
.zbj_style .header .search .search_selcecter a.selected:hover{ color:#999; background:transparent; border:none; margin:0;}
/* 登录注册按钮容器 */
.zbj_style .header .user_login a{ color:#333;}
.zbj_style .header .user_login a:hover{border-color:#eee; background:#eee;box-shadow: inset 0 0 3px rgba(0,0,0,0.5);}
.zbj_style .header .user_login a:active{border-color:#ccc;background:#fff;}
.zbj_style .header .user_login a.selected,.zbj_style .header .user_login a.selected:hover{ border-color:#ccc;background:#fff;}
.zbj_style .header .user_login a .icon16.rnd_br_down,.zbj_style .header .user_login a.selected .icon16.rnd_br_down{background-position:-16px -2912px;}
/* 登录注册后按钮容器 */
.zbj_style .header .login_pop{background:#fff; background:rgba(255, 255, 255,.9); }

.zbj_style .header .login_pop label{  color:#333; }
/* 其他登录 */
.zbj_style .header .login_other{ color:#333; border-top:1px solid #ccc;}
/* 已经登录容器 */
.zbj_style .header .user_logined{ border:1px solid #ddd}
.zbj_style .header .user_logined li.line {  height:28px; border-left:1px solid #ddd;  margin-top:1px; _margin-top:0px;}
.zbj_style .header .user_logined .nav_list a:hover{ color:#fff; background:#3961b0;}
.zbj_style .header .user_logined a{ color:#333}
.zbj_style .header .user_logined a:hover{ color:#f60; box-shadow:none;}
/* 已经登录弹出框容器 */
.zbj_style .header .user_nav_pop{left:0; background:#1d3e7f; background-color: transparent; background-color: rgba(255, 255, 255, 0.8);  progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); zoom: 1;}
.zbj_style .header .user_nav_pop .nav_list a{color:#333;}
.zbj_style .header .user_nav_pop .nav_list a:hover{ color:#fff; background:#f90; box-shadow: 0 1px 2px rgba(0,0,0,0.4);}
.zbj_style .header .user_nav_pop .nav_list a.selected{ color:#f60;}
.zbj_style .header .user_nav_pop .nav_list a.selected:hover{ color:#fff; }
.zbj_style .reverse.icon16.cur-yen{background-position:0 -1056px;}
.zbj_style .reverse.icon16.doc-new{background-position:0 -1344px;}
.zbj_style .reverse.icon16.key{background-position:0 -2032px;}
.zbj_style .reverse.icon16.cog{background-position:0 -944px;}
.zbj_style .reverse.icon16.compass{background-position:0 -976px;}
.zbj_style .reverse.icon16.mail{background-position:0 -2176px}
/* 语言栏显示列表时改变的样式 */
.zbj_style .header .lan_options.hover{background:#fefefe;}
/* 语言栏链接 */
.zbj_style .header .lan_options a{color:#333; }
.zbj_style .header .lan_options a:hover{ background:#f60; color:#fff;}
/* 1.5 导航
-----------------------------------------*/	
.zbj_style .nav{background:#FEF9F0;  border-top:1px dashed #e7b882 ; border-bottom:3px solid #f90;}
/* 导航间隔线 */
.zbj_style .nav ul li.line { display:none;}
/*导航链接*/
.zbj_style .nav li a{ min-width:85px;  font-weight:bold; color:#973300; padding:2px 0;}
.zbj_style .nav li a:hover{color:#fff; background:#FE9A33; }
.zbj_style .nav li a:active{ background:#2F549F; border-color:#446AC1; }
.zbj_style .nav li a.selected,.zbj_style .nav a.selected:hover,.zbj_style .nav a.selected:visited{  color:#fff; background:#FE9A33;}
.zbj_style .nav .operate{bottom:5px;}
.zbj_style .nav .operate a{ background:#f4e7d7; border-radius:5px; border-top:1px solid #e6c39b;}
.zbj_style .nav .operate .reverse.icon16.help{background-position:0 -3968px; opacity:0.8;filter:alpha(opacity=80);}
/* 1.8.1 页面头部 */
.zbj_style .breadcrumbs span{color:#626262; margin:0 5px;}
/* 1.8.1.2 页面标题 */	
.zbj_style .page_title .title a{ color:#2f549f; font-family:"微软雅黑";}
/* 1.8.1.3 page_nav页面导航 */
.zbj_style .page_nav{ top:2px;  }
.zbj_style .page_nav ul li{border:1px solid #ccc; line-height:17px; margin-right:-1px;}
.zbj_style .page_nav ul li a{ display:block; border:1px solid #f4f4f4; padding:5px 15px; background:#e5e5e5;}
.zbj_style .page_nav ul li a:hover{ background:#fafafa;  border-color:#fff;}
.zbj_style .page_nav ul li.selected,.zbj_style .page_nav ul li.selected:hover,.zbj_style .page_nav ul li.selected:active{border-bottom:none; background:#fff; padding-bottom:1px;}
.zbj_style .page_nav ul li.selected a,.zbj_style .page_nav ul li.selected a:hover,.zbj_style .page_nav ul li.selected a:active{background:#fff; border-color:#fff; color:#333 }
.zbj_style .page_nav ul li.border_n{padding-top:3px; margin-left:10px;}
.zbj_style .page_nav ul li.border_n a{ padding:5px;}
.zbj_style .page_nav ul li.border_n a:hover{ background-color:#2f55a0 !important; color:#fff;}
/* 1.8.2 页面主导航 */
.zbj_style .primary_nav{ border:1px solid #ccc; 
		  background-color: #f5f5f5;
		  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#efefef)); 
		  background-image: -webkit-linear-gradient(top, #f5f5f5, #efefef); 
		  background-image:    -moz-linear-gradient(top, #f5f5f5, #efefef); 
		  background-image:     -ms-linear-gradient(top, #f5f5f5, #efefef); 
		  background-image:      -o-linear-gradient(top, #f5f5f5, #efefef); 
		  background-image:         linear-gradient(top, #f5f5f5, #efefef);
		            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#efefef'); 
		}
.zbj_style .primary_nav ul li a.selected,.zbj_style .primary_nav ul li a:active{  background:#FE9A33;}		
.zbj_style .primary_nav ul li a.selected:hover{background:#FE9A33;}
#ie6 .zbj_style .primary_nav a:active .icon32,#ie6 .zbj_style .primary_nav .selected .icon32{color:#2f549f;}
/* 1.7 页脚
-----------------------------------------*/	
.zbj_style .footer{ background:#fff; border-top:1px solid #ddd;}
.site_links{ background:#fcfcfc;}
/* 1.7.2 网站链接容器 */
.zbj_style .footer .site_links{border-top:1px solid #fff;}
.zbj_style .footer .comment{line-height:25px;}
/* 1.7.2.2 网站地图 */
.zbj_style .sitemap{}
.zbj_style .sitemap dl:hover{ background:#FAFAFA; border-top:5px solid #2F549F; }
.zbj_style .sitemap dt{ margin-bottom:2px; color:#333; }
.zbj_style .sitemap dd a:hover{color:#2F549F;}
/*1.7.3 版权 */
.zbj_style .footer .site_copyright{padding:0 0 20px; }





/* 1.8.4 section 内容或章节 */
		/* 1.8.4.1 章节 */
		.zbj_style .section{margin-bottom:10px;}
		.zbj_style .content{border:none;}	
	/* 1.8.5 filter 筛选条件 */
	.zbj_style .filter{z-index:2;}


	/* 1.8.5.1 condition条件项目 */
		.zbj_style .condition dd a.selected,
		.zbj_style .condition dd a.selected:hover{background-color:#FE9A33; border-radius:0;}
		/* 1.8.5.2 select_condition已选条件 */
		.zbj_style .select_condition a.selected{background-color:#FE9A33; }
		.condition dd a{color:#333;}
			.condition dd a:hover{ text-decoration:underline; color:#f60;}
		
/* ajax加载 */	
	#ajaxwaitid div{  background: #2F549F; box-shadow:0 0 5px rgba(0,0,0,.5);}		
/* 1.8.6 step 步骤 */
	.zbj_style .step_progress .step .icon32{background:#E7E7E7; }
	#ie6 .zbj_style .step_progress .step .icon32{ text-indent:-999em; width:32px; height:32px; background:#E7E7E7;}
	/* 1.8.6.1 step单步*/
	
	/* 1.8.6.2 当前进行的步骤 */
	.zbj_style .step_progress .step.selected .icon32{ background:#2f549f; }
	#ie6.zbj_style  .step_progress .selected .icon32{ background:#2F549F;}
	/* 1.8.6.3 已经过的步骤 */
	/* 1.8.6.4 步骤按钮区 */
/* 1.8.7 form_box 表单外壳 */
	.zbj_style .form_box label{color:#555;}
/* 1.8.7.1 小型表单 */
/* 1.8.8 selecter 选项 */
	.zbj_style .selecter a:hover{ background:#2f549f;}
/* 1.8.8 select 下拉菜单 */
/* 1.8.9 input 输入框 */
/* 1.8.9.1 输入框焦点 */
	.zbj_style input[type="text"]:focus,
	.zbj_style input[type="password"]:focus,
	.zbj_style input.focus,
	.zbj_style .txt_input:focus,
	.zbj_style .txt_input.focus{ border-color:#006DC2;  box-shadow:inset 1px 1px 3px #A6CAEA, 0 0 3px rgba(102, 146, 219,1);}
		
/* 1.8.9.2 输入框禁用 */
/* 1.8.10 textarea 文本域 */
	textarea:focus,
	textarea.focus{border-color:#006DC2 !important;  box-shadow:inset 1px 1px 3px #A6CAEA, 0 0 3px rgba(102, 146, 219,1);}
/* 1.8.11 button submit 按钮 */
	.zbj_style input[type="button"],.zbj_style button[type="reset"],
		.zbj_style button[type="button"]{  border: 1px solid #cacaca;
			border-bottom-color: #bbb;
			color: #3C3C3D;
			text-shadow: 0 -1px 0 rgba(255,255,255,.3);
			background: #F6F6F6; 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #F6F6F6), color-stop(1, #E3E3E3)); 
			background: -moz-linear-gradient(center top, #F6F6F6 20%, #E3E3E3 100%); 
		 }
	.zbj_style input[type="button"]:hover,.zbj_style button[type="button"]:hover,
		.zbj_style button[type="reset"]:hover{
			border-color:#388AD4;
			background: #75A9E2; 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #75A9E2), color-stop(1, #4C83BF)); 
			background: -moz-linear-gradient(center top, #75A9E2 20%, #4C83BF 100%); 
			
		}
		
	.zbj_style input[type="button"]:active,.zbj_style button[type="button"]:active,
		.zbj_style button[type="reset"]:active{
			border-color: #20559a;
			background-position:0 0;
		}
	
	
	
	
	.zbj_style input[type="submit"],.zbj_style button[type="submit"]{
			border: 1px solid #4081af; 
			border-bottom-color: #20559a; 
			background: #0090D2; 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
			background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
			}
	.zbj_style input[type="submit"]:hover,
		.zbj_style button[type="submit"]:hover{
			background: #0073d2; 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3e9ee5), color-stop(1, #1666ca)); 
			background: -moz-linear-gradient(center top, #3e9ee5 20%, #1666ca 100%);
		}
	.zbj_style input[type="submit"]:active,.zbj_style button[type="submit"]:active{
			border-color: #20559a;
		}
	.zbj_style a.submit{
			border: 1px solid #4081af; 
			border-bottom-color: #20559a; 
			background: #0090D2; 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf)); 
			background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); 
		}
		
	.zbj_style a.submit:hover{
		background: #0073d2; 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3e9ee5), color-stop(1, #1666ca)); 
		background: -moz-linear-gradient(center top, #3e9ee5 20%, #1666ca 100%);
	}
	
	.zbj_style a.submit:active{
		border-color: #20559a;
	}
/* 1.8.12 数据列表 */
	
/* 1.8.12.1 dl数据列表  */
	.zbj_style .list dd{border:1px solid #ccc !important; border-top:1px solid #fff !important;}
	.zbj_style .list dd.tags{ background:#f8f8f8; }
	.list dd.tags li{color:#666;}
	.list dd.tags a,.list dd.tags a:hover{color:#06c;}
/* 1.8.12.2 table数据列表 */
	.zbj_style .data_list .data_table thead{ background:#2f549f;} 
/* 1.8.14 取范围控件 */
	.zbj_style .ui-widget-header { background: #2F55A0/*{bgColorHeader}*/ ;  box-shadow:0 0 3px #6489D1;}
/* Slider_layerout*/
/***取范围控件change***/
/* Interaction states
----------------------------------*/
/* 1.8.15 page 翻页 */
	.zbj_style .page{background-color: #fff;}
	/* 1.8.15.1 min_page 翻页 */
		.zbj_style .page a:hover,
		.min_page a:hover{ background:#FFD2B5; color:#333;}
		.zbj_style .page a.selected,
		.zbj_style .page a.selected:hover,
		.zbj_style .min_page a.selected,
		.zbj_style .min_page a.selected:hover{ background:#ff6700; color:#fff;}
/* 1.8.16 page_count 每页条数控制 */
	.zbj_style .page_count a{color:#727272;}
	.zbj_style .page_count a{color:#e77f1e;}
	.zbj_style .page_count a{color:#727272;}
	.zbj_style .page_count a:hover{ background:#F0F3FB; color:#2f549f;}
	.zbj_style .page_count a.selected,
	.zbj_style .page_count a.selected:hover{ background-color:#2f55a0; color:#fff;}
/*   1.8.17 loading 加载   */
	.zbj_style .loading_bar .num{color:#fff;}
	.zbj_style .loading_bar .progress_bar{background:#2f549f;}
	.zbj_style .loading_bar.load_green .progress_bar{background:#690;}
	.zbj_style .loading_bar.load_green .progress_bar.shine:before{box-shadow:0 0 3px #690}
/* 1.8.18 process 过程 */
/* 1.8.19 state_desc 状态描述 */
/* 1.8.20 operate 工具栏 */
	.zbj_style .operate a:hover{background-color:#FF6701;}
/* 1.8.21 affix 附件栏 */
/* 1.8.22 statistics 统计 */
/* 1.8.23 stars 星级评定 */
/* 1.8.24 rank_no 排行 */
/* 1.8.25 tab 选卡 */
	.zbj_style .tab{ position:relative; z-index:1; top:1px;}
	.zbj_style .tab a{ display:inline-block;  padding-left:10px; padding-right:10px;border:1px solid #D9D9D9;border-bottom-color:#ccc; background:#F3F3F3; color:#333;}
/* 1.8.26 messages 消息 */
/* 1.8.27 日历  */
	.zbj_style #calendar #calendar_week a{color:#2f549f;}
	.zbj_style td.calendar_checked,
	.zbj_style span.calendar_checked{background:#2f549f; }




	








/* 1.9 basic_style box 默认下的box样式
-----------------------------------------*/	
.box_header{padding:10px 0; overflow:hidden;  border-bottom:1px solid #ccc; }
	.box_header .box_title{ color:#000; font:bold 22px/35px "Microsoft Yahei",Arial, Helvetica, sans-serif;   }
		.box_header .box_nav ul li{ height:25px;  padding:5px 0;}
		.box_header .box_nav ul li.backLava {display:block; float:none;  border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #f60;margin:0;z-index:1; bottom:0;}
		.box_header .box_nav ul li.selectedLava a{ font-weight:bold;color:#333;}
			.box_header .box_nav a{ display:block; float:left; color:#333; margin: 5px 0; padding:0 6px; line-height:15px; border-right:1px solid #ccc; }
.box_detail{ margin:10px 0;}

/* 1.9.1 basic_style box 默认下的box状态 */
.box.complete .form_tip{color:#360;border-bottom:1px solid #b5e18a; padding:10px 0; }
.box.complete .completedata li{padding:10px;}

/* 2 box
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* 2.2 normal
--------------------------------------------------------- */
.zbj_style .box.normal{ border:1px solid #ccc; background-color:#fff;}
/* 2.3 normal2
--------------------------------------------------------- */	
/* 2.4 default
--------------------------------------------------------- */
.zbj_style .box.default{ border:1px solid #ccc; background-color:#fff;}
.zbj_style .box.default:hover{box-shadow:0 0 5px rgba(0, 0, 0,.2);}
	/* 默认头部青色，内容白色背景 */
		
	/* small_list */
	.zbj_style .box.default .box_detail .smaller_list a{background:url(../img/style/dot.png) no-repeat 0 0;}
	.zbj_style .box.default .box_detail .smaller_list a:hover,
	.zbj_style .box.default .box_detail .smaller_list a span:hover{background-color:#f4f4f4;}
/* 2.5 model
--------------------------------------------------------- */

.box.model{border:1px solid #ccc;background:#fff; }
	.box.model:hover{box-shadow:0 0 5px rgba(0, 0, 0,.2);}
	.box.model .box_header{ border:1px solid #fff; background:#f3f3f3;box-shadow:0 3px 3px rgba(0,0,0,.1);}
	.box.model .box_header .box_title{color:#2f549f;  padding-left:15px; }
		.box.model .box_header .box_nav ul li.backLava {border-bottom-width: 2px;border-bottom-style: solid;margin:0;z-index:1; bottom:0;}
		.box.model .box_header .box_nav a{ display:block; color:#333; padding:0 15px; line-height:15px; border-right:1px solid #ccc; position:relative; z-index:2;}
	.box.model .box_detail.no_bottom{border-bottom:none;}
	.zbj_style .box.model .box_detail{margin-top:0; margin-bottom:0; }
/* 2.5.1 model蓝色 */
.box.model.blue .box_header .box_title{ color:#f90; ;margin-left:-2px;}
	.box.model.blue .box_header .box_title span{color:#333; margin-right:5px;}
		.box.model.blue .box_header .box_nav ul li.backLava {border-bottom-color: #f60;}
		.box.model.blue .box_header .box_nav ul li.selectedLava a{ color:#333;}
		
/* 2.5.2 model土黄 */

	.box.model.yellow .box_header .box_title{color:#AA854A; margin-left:-2px;}
		.box.model.yellow .box_header .box_title span{color:#333; margin-right:5px;}
		.box.model.yellow .box_header .box_nav ul li.backLava {border-bottom-color: #9f742f;}
		.box.model.yellow .box_header .box_nav ul li.selectedLava a{color:#9f742f;}

/* 2.5.3 model绿色 */

	.box.model.green .box_header .box_title{color:#889F32;margin-left:-2px;}
		.box.model.green .box_header .box_title span{color:#333; margin-right:5px;}
		.box.model.green  .box_header .box_nav ul li.backLava {border-bottom-color: #869f2f;}
		.box.model.green  .box_header .box_nav ul li.selectedLava a{color:#869f2f;}

/* 2.5.4 model紫色 */
	.box.model.purple .box_header .box_title{color:#f90; margin-left:-2px;}
		.box.model.purple .box_header .box_title span{color:#333; margin-right:5px;}

/* 2.5.5 model玫红 */
	.box.model.rose .box_header .box_title{color:#2E4A9E; margin-left:-2px;}
		.box.model.rose .box_header .box_title span{color:#333; margin-right:5px;}
		.box.model.rose .box_header .box_nav ul li.backLava {border-bottom-color: #AA3259;}
		.box.model.rose .box_header .box_nav ul li.selectedLava a{color:#AA3259;}
		
/* 2.5.6 model青色 */
	.box.model.cyan_blue .box_header .box_title{color:#fff; background:#307D9C url(../img/style/box_title.gif) no-repeat right -200px;margin-left:-2px;text-shadow:1px 1px 2px rgba(0,0,0,.9);}
		.box.model.cyan_blue .box_header .box_nav ul li.backLava {border-bottom-color: #307D9C;}
		.box.model.cyan_blue .box_header .box_nav ul li.selectedLava a{color:#307D9C;}

.zbj_style .primary_nav ul li a:active .icon32.task_model, 
.zbj_style .primary_nav ul li a.selected .icon32.task_model{ color:#f60}


/*ie6*/
#ie6 .nav li a{width:85px;}
#ie6 .header .search .search_input{padding:8px 4px 2px 8px;}
#ie6 .nav .operate{ bottom:0;}
	#ie6 .operate a{ vertical-align:middle;}
#ie6 .page_count{ width:105px;}

