@CHARSET "UTF-8";
/* -------------------------------------------------------------- 
-----------------------------------------------------------------
 	注释 DEFINITIONS	: lf
	作者 AUTHOR 		: lf
 	版本 VERSION		: 2012-02-24
	
	内容 CONTENTS:
	1. 商城首页
		1.0 banner部分
		1.1  热门分类区
		1.2  热门推荐区
		
	2. 商城列表
	3. 商城地图（地图搜索下拉按钮）
	4. 商城详细
		4.0  商品描述
		4.1  购买记录
-----------------------------------------------------------------
-------------------------------------------------------------- */


/* 1.商城首页
 --------------------------------------*/
/* 公用 */
.ly_notice{padding:10px; height:125px}
.lyk textarea{ width:530px; height:55px; margin-bottom:5px;}
.comment_item{padding-left:10px; margin-bottom:10px; border-left:2px solid #E8E8E8; background-color:#F6F6F6;}
.top1{ background-color:#f6f6f6}
/* 1.0 banner部分 */
.container{background:url(../img/shop/banner_bg.jpg) repeat-x; margin:0 auto;}
	.banner{ overflow:hidden; height:345px; position:relative; z-index:1;}
		.banner_bg{ position:absolute; z-index:1; width:100%; }
		.banner_info{position:absolute; z-index:2; right:0; bottom:-1px; width:250px;}
			.release{background:url(../img/shop/ms.jpg) no-repeat bottom left; height:359px;}
				.release_btn{padding-top:175px; padding-left:35px;}
					.release_btn img{margin-top:18px;}

/* 1.1 热门分类区  */
.kinds_bg{ }
.box_detail ul.category_list li.category_width{width:316px; float:left; height:130px; overflow:hidden; position:relative; z-index:1; padding-bottom:10px !important;}
.box_detail ul.category_list li.category_width:hover,
.box_detail ul.category_list li.hover{z-index:3; overflow:visible;}
.box_detail ul.category_list li.hover .item{position:absolute; z-index:2;}
	.category_list .item{ padding:16px; clear:both; min-height:100px; position:relative;}
	#ie6 .category_list .item,#ie7 .category_list .item{ width:284px; border:none;}
		.item .title{color:#2f549f; font-size:14px; font-weight:bold;}
		.item h2{color:#2F549F;}
			.category_list .item:hover,.category_list .item.hover{background:#fffeb5; border:none;}
			.box_detail ul.category_list li .item li{ display:inline; float:left;}
				.box_detail ul.category_list li .item a{ display:inline-block; color:#333; font-size:14px; margin-top:5px; margin-right:3px; white-space:nowrap; }
				.box_detail ul.category_list li .item a:hover{ text-decoration:underline;}


/* 1.2 热门推荐 区 */
 p{ margin-bottom:0}
.box.model .btns .button{width:auto;}
.contents{border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
	.left{ float:left;  border-right:1px solid #dbdbdb; background:#FFFFFF; width:473px; overflow:hidden;}
		.pic{width:220px; height:230px; float:left; text-align:center;}
			.pic img{ display:block; padding-left:10px; padding-top:20px; background:#fff url(../img/style/load_min.gif) no-repeat center; width:210px; height:210px;}
		.item_title{float:left; height:250px;}
			.title h5{font-family:"Microsoft Yahei"; font-size:16px; color:#2f549f; width:240px; padding-left:13px; padding-top:15px;  padding-bottom:10px;}
		.text{font-size:12px; color:#605a69; padding-left:15px; width:220px;}
		.review{font-weight:bold; color:#000; padding-left:15px;}
		.btn{margin-left:15px; margin-top:15px;}
	.rights{float:left;  background:#FFFFFF; width:473px; overflow:hidden;}
.picture{ padding-left:20px; padding-bottom:20px;}
	.pic_top{margin-top:15px;}
		.pic_top .one{height:170px; width:100px; float:left; padding:0 15px; padding-top:20px;}
		.pic_top .one img{ display:block; width:100px; height:100px; background:#fff url(../img/style/load_min.gif) no-repeat center; }
		.pic_top .one:hover,.pic_top .one.hover{background:#fffeb5; border:none;}
			.pic_top .one p{color:#2f549f; font-size:12px; line-height:20px; margin-top:0px; position:relative;}
				.pic_top .one p a.shop_word{width:100px; white-space:nowrap; overflow:hidden; position:absolute;}
		.pic_top .one:hover a.shop_word,.pic_top .one.hover a.shop_word{background:#fffeb5; overflow:visible; width:auto !important;  z-index:2; left:0;}
				.rmb{color:#cc0000; font-size:12px;}
				.jy p{text-align:right; color:#307d9c; font-size:20px; font-family:"Microsoft Yahei"; padding-top:10px; padding-right:8px;}


/* 2.商城列表
 --------------------------------------*/

.box .list dd{ border-left:none; border-right:none; height:auto; overflow:hidden; position:relative;}
.box .list dd li .img_box a{ display:inline-block; width:100px; height:100px;}
.shop_title{ width:240px;}
.box .list .operate { position:absolute;}
.success {border: 2px solid #2F55A0; box-shadow: 0 0 3px #2F55A0; display: inline-block; line-height: 22px; margin-left: 50px; margin-top: -35px; text-align: center; width: 70px;}
.img_box img{ display:block; width:100px; height:100px; background:#fff url(../img/style/load_min.gif) no-repeat center;}

/* 3.商城地图-----地图搜索下拉按钮------
 --------------------------------------*/

 .jqTransformSelectWrapper a.jqTransformSelectOpen,.jqTransformSelectWrapper a.jqTransformSelectOpen{ padding:0; margin:0; line-height:inherit;}
 .jqTransformSelectWrapper a.jqTransformSelectOpen:hover,.jqTransformSelectWrapper a.jqTransformSelectOpen{}
 .jqTransformSelectWrapper ul a{ display:block; padding:5px; margin:0}
 .jqTransformSelectWrapper ul a:hover{ background:#3582c4;}	

/* 统计*/

/* 4.商城详细
 --------------------------------------*/

/* 4.0商品描述  */
.product_desc{ border:1px solid #ccc; background-color:#f2f2f2}
	.product_desc img{ width:528px; height:auto;}
.notice{ background-color:#fffce1; color:#cb0100;}
.other_product{ border-top:1px solid #ccc}
	.other_product a{margin-bottom:10px; margin-right:10px; display:inline-block;}	
		.other_product img{ width:110px; height:110px; display:block; border:1px solid #ccc; }

	
.buyNow{ background-color:#fff9d7; border:1px solid #e3c823; height:60px; line-height:60px;}
	.buyNow span{ font-size:22px}
	.buyNow .shop_arrow{ left:-32px; top:-1px; background:url(../img/shop/shop_detail.png) no-repeat; width:32px; height:63px;}
	.buyNow .button{ margin-top:14px;}
.shop_otherInfo,.shop_author,.example{ background-color:#f2f2f2}
	.shop_otherInfo li span{ color:#673301; padding:0 20px 0 10px}
	.shop_author .portrait{width:104px;}
	.shop_author .portrait b{ display:inline-block; margin-right:5px; line-height:17px;}
.box .shop_author .loading_bar{ height:15px; width:100%; overflow:hidden; border-radius:5px; background-color:#ccc; margin-top:7px;}
.box .shop_author .loading_bar .progress_bar{ height:15px; line-height:15px;background-color:#690;border-radius:5px}
.shop_sign .icon16.air_signal{ opacity:0.5; margin-top:-6px; margin-left:10px}
	.shop_sign b{ display:inline-block; float:left; margin-right:10px;}
	.shop_sign span{display:inline-block;}
	.shop_sum1 li{width:42px; text-align:center;}
.shop_ad{ background-color:#eef4ff; height:40px; width:310px; overflow:hidden;}
	.shop_intrest{ border-top:1px solid #ccc;}
		.shop_intrest img{ border:1px solid #ccc; width:128px; height:128px; margin:10px 0 0 10px;}
.example{/* height:250px;*/}
	.example img{ width:110px; height:110px}
/* 文字 */
.example .text_ov{ height:25px; line-height:25px; position:relative;}	
.example .text_ov a{width:100px; left:30px; position:absolute; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
	.example .text_ov a:hover{width:auto; overflow:visible; background:#f8f8f8; z-index:2;}
.share_weibo{ border-radius:5px; border:1px solid #d9d9d9; background-color:#efefef; padding:0 5px}
	.share_weibo a{ margin:0 3px}
		 a.select_weibo{  font-weight:800; color:#444; font-size:9px}

/* 4.1购买记录 */
.shop_all a{ margin-right:5px}
.shop_all a:hover,.shop_all a.select{ background-color:#2b559d; color:#fff; padding:2px 5px}
 .example a.example_title{width:120px; display:block; position:absolute; *left:5px;  overflow:hidden; white-space:nowrap; padding-left:10px; }
 .example a.example_title:hover{ position:absolute; overflow:visible;  width:auto;  background:#f2f2f2;}
.example ul.task_list li{padding-left:10px;}
.example ul.task_list li a{display:block; cursor:pointer; height:25px; line-height:25px;  width:175px; white-space:nowrap; overflow:hidden; padding-left:15px; background:url(../img/style/dot.png) no-repeat 0 0; -o-transition: all 0.2s;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;transition: all 0.2s;}
.example ul.task_list li a span{ margin-right:5px; float:left;}
.example ul.task_list li a:hover{width:auto; background-position:0 -25px; background-color:#f8f8f8; position:relative; z-index:2; overflow:visible;}
.example ul.task_list li a:hover span.bk_color{ background-color:#f8f8f8;  display:inline-block;  }	

/* 列表修改  */
.list{ border:none;}
.list dd,.box .list dd{  border-width:1px 0  !important;}
.list dd{ background:#fff ;}
.list dd.odd{background:#fafafa;}
.list dd.odd:hover{ background:#FFFEB5}
/*.list dd.tags{ background:#fff !important; color:#666;}
.list dd.tags a{ color:#2F549F}*/
aside .item{ height:30px; *height:28px; line-height:30px; *line-height:28px;position:relative; z-index:1;}
aside .item a{display:inline-block; height:30px; white-space:nowrap; width:272px; overflow:hidden;  padding-left:13px; background:url(../img/style/dot.png) no-repeat 0 2px; -o-transition: all 0.2s;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;transition: all 0.2s;}
aside .item a:hover{width:auto; overflow:visible; background-color:#F8F8F8;background-position:0 -23px; position:absolute; z-index:1; }
aside .item span { margin-right:5px;}


@media only screen and (min-width: 240px) and (max-width: 640px){
	.banner{height:120px; }
	.banner_bg,.other_product{ display:none;}
	.banner_info{ width:100%}
	.release{ height:120px;   background:#fff; text-align:center;}
	.release_btn{padding-top:5px; padding-left:0;}
	.release_btn img{ margin-top:0;}
	.tasktab{ background:none;}
	
	.box_detail ul.category_list li.category_width{ width:100%;}
	.category_list .item{ padding:5px 10px; }
	.box_detail ul.category_list li .item a{ font-size:12px; margin-top:0;}
	.category_list .item{ min-height:100%;}
	
	.shop_title{width:158px;}
	
	.product_desc_lcon .pro_decs_img{width:auto !important;}
	.product_desc_rcon{margin-top:20px;}
	
	
}
@media only screen and (min-width: 640px) and (max-width: 980px){
	.banner{ height:260px;}
	.banner_info{bottom:-30px;}
}
@media only screen and (min-width: 1280px) and (max-width: 1600px){
	.banner_bg img{ display:block; margin-left:auto; margin-right:auto;}
	.box_detail ul.category_list li.category_width{ width:396px;}
	.box.model.purple .box_detail,
	.kinds_bg{ background:none}
	
	.left{ width:593px;}
	.rights{width:593px;}
	.title h5{ width:auto;}
	.text{ width:340px;}
	
	.pic_top .one{ width:11.5%}
}
