@charset "gbk";
/* CSS Document */

/*左边导航*/
		.nav_list dt a:hover{ background:#951a1a;}
		.nav_list dt a:hover span{color:#fff !important;}
		.nav_list dt a.selected,.nav_list dt a.selected:hover span{font-weight:bold; color:#000 !important; background:none;}
}
	

	/*下端内容*/
		.question{background:#f2f2f2; border-left:5px solid #951a1a}
			.question:hover{background:#ed8888;}
				.q_title{ color:#000; }
				